@using SFB.Web.UI.Models

@model SchoolViewModel

@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Enter schools by name";
    ViewBag.pageClass = "add-schools-manually";
    if (Model is SchoolViewModelWithNoDefaultSchool)
    {
        ViewBag.HomeSchoolId = null;
        ViewBag.HomeSchoolName = null;
    }
    else
    {
        ViewBag.HomeSchoolId = Model.ComparisonList.HomeSchoolUrn;
        ViewBag.HomeSchoolName = Model.ComparisonList.HomeSchoolName;
    }
}


<div class="govuk-error-summary missing" role="alert" aria-labelledby="ErrorSummaryHeading" style="display: none">
    <h2 id="ErrorSummaryHeading" class="govuk-error-summary__title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <a href="#NewSchoolName">Enter a school name to continue the comparison</a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-error-summary not-found" role="alert" aria-labelledby="ErrorSummaryHeading" style="display: none">
    <h2 id="ErrorSummaryHeading" class="govuk-error-summary__title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <a href="#NewSchoolName">We couldn't find any schools matching your search criteria</a>
            </li>
        </ul>
    </div>
</div>


@section BackButtonContent{
    @if (ViewBag.HomeSchoolId == null)
    {
        <a class="govuk-back-link hide-in-print" href="/ManualComparison/WithoutBaseSchool">Back</a>
    }
    else
    {
        <a class="govuk-back-link hide-in-print" href="/ManualComparison">Back</a>
    }
}

<div class="steps">
    <span class="govuk-caption-xl">Manual comparison 2 of 2</span>
</div>

<h1 class="govuk-heading-xl page-heading">
    Enter schools by name
</h1>

@if (ViewBag.HomeSchoolId != null)
{
    <div class="grid-row home-school section">
        <div class="column-full mb-1">
            <span class="govuk-!-font-size-16">Comparing to</span>
            <div class="highlight">
                <a href="/school/detail?urn=@Model.ComparisonList.HomeSchoolUrn"><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">@Model.ComparisonList.HomeSchoolName</span></a>
            </div>
        </div>
    </div>
}

<div class="column-three-quarters no-padding">
    <div id="SchoolsToAdd">
        @Html.Partial("Partials/SchoolsToAdd", Model.ManualComparisonList.BenchmarkSchools.Where(t => t.Urn != Model.ManualComparisonList.HomeSchoolUrn).ToList())
    </div>
</div>

<div class="grid-row control-buttons govuk-!-font-size-16">
    <div class="column-half mt-1">
        <div class="column-three-quarters next-button">
            <button id="manualButton" class="govuk-button" data-module="govuk-button">Continue to benchmarking charts</button>
        </div>
    </div>
</div>

<input type="hidden" id="openOnly" value="@ViewBag.OpenOnly.ToString()" />

@section ViewScripts {

    <script src="~/node_modules/corejs-typeahead/dist/typeahead.bundle.min.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        DfE.Views.AddSchoolsManuallyViewModel = new AddSchoolsManuallyViewModel();
    </script>
}
