@model SFB.Web.UI.Models.SchoolViewModel

@{
    ViewBag.Title = "Replace benchmark set";
    ViewBag.pageClass = "overwrite-strategy";
    ViewBag.HomeSchoolId = Model.ComparisonList?.HomeSchoolUrn;
    ViewBag.HomeSchoolName = Model.ComparisonList?.HomeSchoolName;
}

@section BackButtonContent{
    @if (ViewBag.HomeSchoolId != null)
    {
        Html.RenderPartial("Partials/BreadCrumbs/BackToSelectCompareTypeLink");
    }
    else
    {
        Html.RenderPartial("Partials/BackToHomeLink");
    }
}

<h1 class="heading-xlarge page-heading">Replace benchmark set</h1>

<p>
    You already have <span class="bold">@Model.ComparisonListCount</span> schools in your benchmark set. By proceeding you will replace your current benchmark set. If you wish to add to your benchmark set go back and reduce your benchmark set size.
</p>

<form action="ReplaceAdd" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="overwriteStrategy" value="overwrite" checked="checked">

    <div class="grid-row">
        <div class="column-half">
            <div class="column-two-thirds next-button">
                <button type="submit" class="govuk-button">Replace benchmark set</button>
            </div>
            <div class="column-one-third back-button">
                <a href="@ViewBag.referrer">Back</a>
                <input type="hidden" name="referrer" value="@ViewBag.referrer" />
            </div>
        </div>
    </div>
</form>
