@model SFB.Web.UI.Models.SchoolViewModel

@{
    ViewBag.Title = "Replace benchmark set";
    ViewBag.pageClass = "overwrite-strategy";
    ViewBag.HomeSchoolId = Model.ComparisonList?.HomeSchoolUrn;
    ViewBag.HomeSchoolName = Model.ComparisonList?.HomeSchoolName;
}

@section BackButtonContent{
    @if (ViewBag.HomeSchoolId != null)
    {
        Html.RenderPartial("Partials/BreadCrumbs/BackToSelectCompareTypeLink");
    }
    else
    {
        Html.RenderPartial("Partials/BackToHomeLink");
    }
}

<h1 class="govuk-heading-xl page-heading">Replace benchmark set</h1>

<p class="govuk-body">
    You already have <span class="govuk-!-font-weight-bold">@Model.ComparisonListCount</span> schools in your benchmark set. By proceeding you will replace your current benchmark set. If you wish to add to your benchmark set go back and reduce your benchmark set size.
</p>

<form action="ReplaceAdd" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="overwriteStrategy" value="overwrite" checked="checked">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">Replace benchmark set</button>
                <a class="govuk-link" href="@ViewBag.referrer">Back</a>
                <input type="hidden" name="referrer" value="@ViewBag.referrer" />
            </div>
        </div>
    </div>
</form>
