@{
    ViewBag.Title = "Your query has been sent";
    ViewBag.pageClass = "data-queries";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Your query has been sent
            </h1>
            <div class="govuk-panel__body">
                Your reference number<br>
                <strong class="govuk-!-font-weight-bold">@ViewBag.EmailReference</strong>
            </div>
        </div>

        <p>
            We have sent you a confirmation email.
        </p>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">
            What happens next?
        </h2>
        <p>
            We have sent your data query to the school resource management team.
        </p>
        <p>
            They will contact you either to inform you of the action that will be taken or to request further information.
        </p>
        @if (ViewBag.Urn == null)
        {
            <p>
                <a class="govuk-link" href="/">Return to the homepage</a>
            </p>
        }
        else
        {
            <p>
                <a class="govuk-link" href="~/school/detail?urn=@ViewBag.Urn">Return to @ViewBag.SchoolName</a>
            </p>
        }
    </div>
</div>