@{
    ViewBag.Title = "Data Sources and Interpretation";
    ViewBag.pageClass = "datasources";
}

@section BackButtonContent{
    @Html.Partial("Partials/BackToHomeLink")
}

<div class="grid-row mt-2">
    <div class="column-one-third contents">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Contents
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="list font-xsmall">
                    <li><a href="#data-sources">Data sources</a></li>
                    <li><a href="#interpret-data">Interpreting the data</a></li>
                </ul>
            </nav>
        </aside>
    </div>

    <div class="column-two-thirds" id="helpContent">
        <h1 class="govuk-heading-xl">Data sources and interpretation</h1>

        <h2 class="heading-large" id="data-sources">Data sources</h2>

        <a id="question-eight"></a>
        <h2 class="heading-medium">Which types of schools can I get data for?</h2>

        The data on the site is for maintained schools and academies in England. It’s based on schools’ Consistent Financial Reporting (CFR) returns and academies’ accounting returns. You can also get data for multi-academy trusts (MATs).

        <a id="question-one"></a>
        <h3 class="heading-medium">Financial returns</h3>
        <p>
            This is based on schools’ Consistent Financial Reporting (CFR) returns for LA maintained schools and academies’ accounting returns (AARs).

            <h3 class="heading-small">LA Maintained Schools</h3>
            <ul>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_cfr_20" href="https://sat1prsfb.blob.core.windows.net/sfb/School_total_spend_2019-20_Full_Data_Workbook.xlsx">CFR 2019-20<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_cfr_19" href="https://sat1prsfb.blob.core.windows.net/sfb/School_total_spend_2018-19_Full_Data_Workbook.xlsx">CFR 2018-19<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_cfr_18" href="https://sat1prsfb.blob.core.windows.net/sfb/School_total_spend_2017-18_Full_Data_Workbook.xlsx">CFR 2017-18<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_cfr_17" href="https://sat1prsfb.blob.core.windows.net/sfb/School_total_spend_2016-17_Full_Data_Workbook.xlsx">CFR 2016-17<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_cfr_16" href="https://sat1prsfb.blob.core.windows.net/sfb/School_Total_Spend_2015-16_Full_Data_Workbook.xlsx">CFR 2015-16<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_cfr_15" href="https://sat1prsfb.blob.core.windows.net/sfb/School_Total_Spend_2014-15_Full_Data_Workbook.xlsx">CFR 2014-15<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
            </ul>

            <h3 class="heading-small">Academies</h3>
            <ul>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_aar_20" href="https://sat1prsfb.blob.core.windows.net/sfb/SFB_Academies_2019-20_download.xlsx">AAR 2019/20<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_aar_19" href="https://sat1prsfb.blob.core.windows.net/sfb/SFB_Academies_2018-19_download.xlsx">AAR 2018/19<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_aar_18" href="https://sat1prsfb.blob.core.windows.net/sfb/SFB_Academies_2017-18_download.xlsx">AAR 2017/18<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_aar_17" href="https://sat1prsfb.blob.core.windows.net/sfb/SFB_Academies_2016-17_download.xlsx">AAR 2016/17<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_aar_16" href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/633149/SFR32_2017_Main_Tables.xlsx">AAR 2015/16<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
                <li><a target="_blank" rel="external noopener noreferrer" class="font19-ext-link sfb_gtm_csv_aar_15" href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/541057/SFR27_2016_Main_Tables.xlsx">AAR 2014/15<span class="visually-hidden"> link will open an Excel spreadsheet</span></a></li>
            </ul>

        </p>

        <a id="question-three"></a>
        <h3 class="heading-medium">Performance tables</h3>
        <p>
            This comes from <a target="_blank" rel="external noopener noreferrer" class="font19-ext-link" href="https://www.gov.uk/school-performance-tables">school performance tables<span class="visuallyhidden"> Opens in a new window</span></a>. The period covered matches the submissions for financial returns.
        </p>

        <a id="question-four"></a>
        <h3 class="heading-medium">Workforce census</h3>
        <p>
            This comes from the <a rel="external noopener noreferrer" class="font19-ext-link" target="_blank" href="https://www.gov.uk/government/collections/statistics-school-workforce">school workforce census<span class="visuallyhidden"> Opens in a new window</span></a>. The period covered matches the submissions for financial returns.
        </p>

        <a id="question-five"></a>
        <h3 class="heading-medium">Ofsted data</h3>
        <p>
            This comes from <a rel="external noopener noreferrer" class="font19-ext-link" target="_blank" href="https://www.gov.uk/government/statistical-data-sets/monthly-management-information-ofsteds-school-inspections-outcomes">Ofsted school inspections<span class="visuallyhidden"> Opens in a new window</span></a>. Ratings reflect those received when financial data was uploaded.
        </p>

        <a id="question-six"></a>
        <h3 class="heading-medium">Special educational needs data</h3>
        <p>
            This comes from <a target="_blank" rel="external noopener noreferrer" class="font19-ext-link" href="https://www.gov.uk/government/collections/statistics-special-educational-needs-sen">special educational needs statistics<span class="visuallyhidden"> Opens in a new window</span></a>.
        </p>

        <a id="question-seven"></a>
        <h3 class="heading-medium">School contextual information</h3>
        <p>
            This comes from the <a target="_blank" rel="external noopener noreferrer" class="font19-ext-link" href="https://www.get-information-schools.service.gov.uk/">Get Information About Schools<span class="visuallyhidden"> Opens in a new window</span></a> site.
        </p>


        <h2 class="heading-large" id="interpret-data">Interpreting the data</h2>

        <!------------------------------------------------------------------->

        <a id="interpreting-expenditure-charts"></a>
        <h3 class="heading-medium">Interpreting expenditure charts</h3>

        <p>
            You should take care when interpreting the data. It shows the position of a school relative to others; it doesn’t explain why this is. There may be good reasons for a school to have high or low figures. What’s important is that those involved in budget setting review the differences, and consider the reasons for them.
        </p>

        <!------------------------------------------------------------------->

        <a id="staff-costs"></a>
        <h3 class="heading-small">Staff costs</h3>

        <p>As staffing typically represents between 75% and 80% of mainstream schools’ expenditure, and more for special schools and pupil referral units (PRUs), it’s important that schools review their staff structures regularly as part of their annual school improvement, curriculum and financial planning.</p>
        <p>When you are interrogating other schools’ finances to compare with your own, it’s important to look at the education delivery model as a whole. The data that sits within the workforce tab on the benchmark charts page will help with this.</p>
        <p>It is also useful to have discussions with professionals in other schools in your benchmark set to grain greater insight into the reasons they operate in the way they do and evaluate the suitability of alternative education delivery models to your own situation.</p>

        <p>
            Further <a target="_blank" rel="external noopener noreferrer" class="font19-ext-link" href="https://www.gov.uk/government/publications/school-workforce-planning">guidance on school workforce and curriculum planning<span class="visuallyhidden"> Opens in a new window</span></a> can be found on gov.uk.
        </p>

        <!------------------------------------------------------------------->

        <a id="premises-costs"></a>
        <h3 class="heading-small">Premises costs</h3>

        <p>Next to staffing costs, premises costs can be one of the most expensive groups in the costing structure. This cost grouping includes premises staff, cleaning, caretaking, maintenance and improvement, and private finance initiative (PFI) charges.</p>
        <p>
            It is useful to look at the premises total expenditure as a percentage of total cost in the first instance and consider whether this is significantly higher or lower than others. This can sometimes be explained by the amount of income generated through the hire of the school’s facilities.
        </p>
        <p>
            Some components in the premises costs block need to be looked at together. For example, if you have directly employed premises staff members, they often undertake basic maintenance and improvement tasks and this usually brings economies to schools. When comparing maintenance and improvement costs with other schools, it is also wise to look at premises staff costs at the same time.
        </p>

        <p>
            Further <a rel="external noopener noreferrer" class="font19-ext-link" target="_blank" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement">guidance on effective and collaborative procurement<span class="visuallyhidden"> Opens in a new window</span></a> can be found on gov.uk.
        </p>

        <!------------------------------------------------------------------->

        <a id="occupation-costs"></a>
        <h3 class="heading-small">Occupation costs</h3>

        <p>
            It is sensible to look at these as a percentage of the total expenditure for your school.  However, it can also be useful to look at some of these costs related to per pupil. Water and sewerage costs are worth investigating on a per pupil basis as the cost driver here is people.
        </p>
        <p>
            Energy costs are more complex. You have to heat the whole school and keep all the infrastructure ticking over all of the time. So an initial view of energy costs on a percentage of the total expenditure is a good starting point. However, if you also look at this cost element on a per pupil basis, it will challenge you as to whether you have the most energy efficient approaches that you could possibly have. It may also challenge you to consider whether you have made the best use of framework agreements to obtain maximum efficiencies from the costs you incur.
        </p>
        <p>
            Investment in energy saving improvements can often find medium to long term savings. The government supports an Energy Efficiency Loan Scheme, run by Salix Finance, to help schools meet energy efficiency investment costs. Further details can be found on the <a rel="external noopener noreferrer" class="font19-ext-link" target="_blank" href="https://www.salixfinance.co.uk/loans/schools-loans">Salix website<span class="visuallyhidden"> Opens in a new window</span></a>.
        </p>
        <p>
            Further <a rel="external noopener noreferrer" class="font19-ext-link" target="_blank" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement">guidance on effective and collaborative procurement<span class="visuallyhidden"> Opens in a new window</span></a> can be found on gov.uk.
        </p>

        <!------------------------------------------------------------------->

        <a id="supplies-and-services"></a>
        <h3 class="heading-small">Supplies and services</h3>

        <p>This includes educational supplies, administrative supplies and bought-in professional services.</p>
        <p>
            If your school doesn’t have adequate and professional services, this can have a direct impact upon pupil outcomes. Educational supplies need to be modern and fit for purpose and schools need to access adequate professional services.
        </p>
        <p>
            ICT learning resources spending can sometimes take the form of a refurbishment or refit which will last a few years at least, so it is not possible to expect spending on this costing block to be even across a number of schools.
        </p>
        <p>
            You should challenge any spending you have on ICT learning resources and consider whether you are obtaining the greatest efficiencies possible. Ask yourself whether you are procuring jointly with other schools to obtain savings. You might also want to consider the use of framework agreements in order to secure the best possible deals for your school. Spending under this heading should be immediately recognisable as the spending that was planned in your ICT development plan for that year.
        </p>
        <p>
            Learning resources are the very essence of your core business. You should evaluate how much of your total expenditure you are devoting to this important cost group. It is also useful to look at this on a per pupil basis and challenge yourself on whether you are spending enough on high quality learning resources. This is another example where benchmarking may challenge you to rebalance the allocations of finance within your expenditure structures, given that spending power is finite.
        </p>

        <p>
            Further <a rel="external noopener noreferrer" class="font19-ext-link" target="_blank" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement">guidance on effective and collaborative procurement<span class="visuallyhidden"> Opens in a new window</span></a> can be found on gov.uk.
        </p>

        <!------------------------------------------------------------------->

        <a id="cost-of-finance"></a>
        <h3 class="heading-medium">Cost of finance</h3>

        <p>A few schools borrow money or have financing costs through leasing agreements, always with Department for Education/Education and Skills Funding Agency approval. If you are one of those, you will have some costs in this cost heading. If you haven’t already done so, you could consider if there are opportunities to renegotiate the terms of your commitment.</p>

        <!------------------------------------------------------------------->

        <a id="special-facilities"></a>
        <h3 class="heading-small">Special facilities</h3>

        <p>
            If you click on the ‘More info’ tab, this gives you information about what some schools will have in this area. This is the kind of cost heading where there will be no norm. You need to check whether it looks right for your school and challenge yourselves as to whether the costs you incur under this heading are cost effective. You should also consider whether there are better ways of obtaining the services and evaluate what these add to pupil outcomes.
        </p>

        <!------------------------------------------------------------------->

        <a id="interpreting-income-charts"></a>
        <h3 class="heading-medium">
            Interpreting income charts
        </h3>
        <p>
            Here you can see how your funding compares with similar schools. Funding levels are determined by a combination of central allocations to each local authority (LA) and the LA funding formula. The LA funding formula is set in consultation with schools forums.
        </p>
        <p>
            In many cases, the benchmarking tool can also help you identify similar schools that have self-generated higher levels of income, which can be invested to support pupil progress.
        </p>
        <p>
            If you are interested in increasing your levels of self-generated income, you may find it useful to contact these schools to determine the similarities and differences between your schools and whether there are opportunities to learn from their approach.
        </p>

        <!------------------------------------------------------------------->

        <a id="interpreting-workforce-charts"></a>
        <h3 class="heading-medium">Interpreting workforce charts</h3>

        <p>
            Here you can see how your workforce compares with similar schools. The workforce data is taken from each school’s submitted census.
        </p>
        <p>
            We display the workforce data by several metrics:
        </p>
        <ul class="list list-bullet">
            <li><span class="bold-small">Total:</span> This shows the total types of roles as either as full-time equivalent or by headcount.</li>
            <li><span class="bold-small">Headcount per FTE:</span> This provides a ratio of each role by headcount to full-time equivalent. For example a figure of 2 for teaching assistants would indicate that there are two teaching assistants for every role.</li>
            <li><span class="bold-small">Percentage of workforce:</span> This shows in percentage terms how each role type makes up the total workforce.</li>
            <li><span class="bold-small">Pupils per staff role:</span> This shows the number of pupils against each role.</li>
        </ul>
        <p>
            If you are interested in adjusting your workforce levels, you may find it useful to contact these schools to determine the similarities and differences between your schools and learn how their different workforce levels have affected their school.
        </p>
        <!------------------------------------------------------------------->
    </div>

</div>