@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "datasources";
}

@section BackButtonContent{
    @Html.Partial("Partials/BackToHomeLink")
}

<div class="grid-row">
    <div class="column-one-third contents">
        <h3 class="heading-small">Contents</h3>
        <ul class="font-small">
            <li><a href="#question-one">Financial returns</a></li>
            <li><a href="#question-three">Performance tables</a></li>
            <li><a href="#question-four">Workforce census</a></li>
            <li><a href="#question-five">Ofsted data</a></li>
            <li><a href="#question-six">Special educational needs data</a></li>
            <li><a href="#question-seven">School contextual information</a></li>
        </ul>
    </div>
    <div class="column-two-thirds text" id="helpContent">
        <h1 class="heading-xlarge page-heading">Data sources</h1>

        <a id="question-one"></a>
        <h2 class="heading-large">Financial returns</h2>
        <p>            
            This is based on schools’ Consistent Financial Reporting (CFR) returns and academies’ accounting returns (AARs). The latest <a target="_blank" rel="external noopener noreferrer" class="font19-ext-link" href="https://www.compare-school-performance.service.gov.uk/download-data?currentstep=datatypes&regiontype=all&la=0&downloadYear=2016-2017&datatypes=spendperpupilfull">CFR data</a> can be downloaded, as can the latest <a target="_blank" rel="external noopener noreferrer" class="font19-ext-link" href="https://sat1prsfb.blob.core.windows.net/sfb/SFB_Academies_2016-17_download.xlsx">AAR data</a>.
        </p>
        <p>
            <a target="_blank" rel="external noopener noreferrer" class="font19-ext-link" href="https://www.gov.uk/government/collections/statistics-local-authority-school-finance-data">Data for previous years</a> is available online.
        </p>
       
        <a id="question-three"></a>
        <h2 class="heading-large">Performance tables</h2>
        <p>
            This comes from <a target="_blank" rel="external noopener noreferrer" class="font19-ext-link" href="https://www.gov.uk/school-performance-tables">school performance tables<span class="visuallyhidden"> Opens in a new window</span></a>. The period covered matches the submissions for financial returns.
        </p>

        <a id="question-four"></a>
        <h2 class="heading-large">Workforce census</h2>
        <p>
            This comes from the <a rel="external noopener noreferrer" class="font19-ext-link" target="_blank" href="https://www.gov.uk/government/collections/statistics-school-workforce">school workforce census<span class="visuallyhidden"> Opens in a new window</span></a>. The period covered matches the submissions for financial returns.
        </p>
        
        <a id="question-five"></a>
        <h2 class="heading-large">Ofsted data</h2>
        <p>
            This comes from <a rel="external noopener noreferrer" class="font19-ext-link" target="_blank" href="https://www.gov.uk/government/statistical-data-sets/monthly-management-information-ofsteds-school-inspections-outcomes">Ofsted school inspections<span class="visuallyhidden"> Opens in a new window</span></a>. Ratings reflect those received when financial data was uploaded.
        </p>
        
        <a id="question-six"></a>
        <h2 class="heading-large">Special educational needs data</h2>
        <p>
            This comes from <a target="_blank" rel="external noopener noreferrer" class="font19-ext-link" href="https://www.gov.uk/government/collections/statistics-special-educational-needs-sen">special educational needs statistics<span class="visuallyhidden"> Opens in a new window</span></a>.
        </p>
        
        <a id="question-seven"></a>
        <h2 class="heading-large">School contextual information</h2>
        <p>
            This comes from the <a target="_blank" rel="external noopener noreferrer" class="font19-ext-link" href="https://www.get-information-schools.service.gov.uk/">Get Information About Schools<span class="visuallyhidden"> Opens in a new window</span></a> site.
        </p>
    </div>
</div>