@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "data-queries";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Details submitted
            </h1>
            <div class="govuk-panel__body">
                Thank you, your details have been submitted
            </div>
        </div>

        <h2 class="heading-medium">
            What happens next?
        </h2>
        <p>
            We have sent your details to the school resource management team and a researcher will get in touch with you in the next few days.
        </p>
        <p>
            <a href="/">Return to the homepage</a>
        </p>
    </div>
</div>
