@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "guidance";
    ViewBag.pageDescription =
        "Find out how to use the schools financial benchmarking site.";
}

@section HomeButtonContent{
    @Html.Partial("Partials/BackToHomeLink")
}

<h1 class="heading-xlarge page-heading">Help using this site</h1>
<div class="grid-row">

    <div class="column-one-third contents">
        <h3 class="heading-small">Contents</h3>
        <ul class="font-small">
            <li><a href="#question-one">How do I view financial data for a school or trust?</a></li>
            <li><a href="#question-nine">Where can I get information about a school’s staffing structure?</a></li>
            <li><a href="#question-two">What does having a default school do?</a></li>
            <li><a href="#question-three">How do I compare a single school with others?</a></li>
            <li><a href="#question-four">How do I compare a group of schools?</a></li>
            <li><a href="#question-five">How do I choose characteristics?</a></li>
            <li><a href="#question-ten">Can I save charts so I can return to them or show them to others?</a></li>
            <li><a href="#question-six">Gaps in the data</a></li>
            <li><a href="#question-seven">Interpreting the data</a></li>
            <li><a href="#question-eight">Which types of schools can I get data for?</a></li>
        </ul>
    </div>
    <div class="column-two-thirds text">
        
        <a id="question-one"></a>
        <h2 class="heading-large">How do I view financial data for a school or trust?</h2>
        <p >
            You can search for a school or trust on the homepage by name, location, local authority or unique reference number.

            Once you’ve made your selection, you’ll be taken to a summary page showing income and expenditure in different areas.

            There’s a range of financial data, which you can access using the dropdown menu beneath the appropriate tab.
        </p>
        <p>
            If you want to download a CSV file with a full range of data, click the link next to ‘Download data URL’.
        </p>
        
        <a id="question-nine"></a>
        <h2 class="heading-large">Where can I get information about a school’s staffing structure?</h2>
        
        This sits within the workforce tab on the school summary page. To find out what the different charts show, click on the ‘More info’ link beneath the chart heading.
        
        You can alter the year covered and the values shown using the dropdowns beneath the tabs.

        <a id="question-two"></a>
        <h2 class="heading-large">What does having a default school do?</h2>

        If you choose to have a default school, this means the school’s data will be highlighted in any comparison charts you generate. You can set your default school on the school summary page by clicking ‘Set as default school’.
        
        <a id="question-three"></a>
        <h2 class="heading-large">How do I compare a single school with others?</h2>

        <p>There are two ways to do this:</p>

        <ul>
            <li>you can build a benchmark basket that includes a default school</li>
            <li>you can go to a school summary page and select ‘Compare with other schools’</li>
        </ul>
        
        <a id="question-four"></a>
        <h2 class="heading-large">How do I compare a group of schools?</h2>

        There’s a feature which allows you to compare a group of schools without using a single school as your starting point. 
        To do this, go to the homepage and select the appropriate option under 'Search by area'. 
        Once you get to a results page, you can filter using the check boxes on the left and  add schools to your benchmarking basket by clicking on the individual ‘Add’ buttons. 
        If you want to add all schools, use the ‘Add all to basket’ button. 
        You can then view the benchmarking charts by selecting the green button at the top of the page.
        
        <a id="question-five"></a>
        <h2 class="heading-large">How do I choose characteristics?</h2>

        <p>If you use the ‘Compare with other schools’ feature, you have two options for choosing characteristics. You can:</p>
        <p>
            <ul>
                <li>do a quick comparison using pre-selected characteristics</li>
                <li>do an advanced comparison using criteria you choose</li>
            </ul>
        </p>

        <p>If you do an advanced comparison, you choose the characteristics you’re interested in using the tick boxes.</p>

        <p>You’ll be given information about the school you’re comparing with, which should help if you’re asked to specify a range. It's important to choose parameters that don't generate a huge number of results.</p>

        <p> There’s a counter at the top of the page that will show you how many schools match the criteria you’ve chosen.</p>

        <p> Once you’ve added all the characteristics you want, click ‘View benchmarking charts’.</p>

        <p> If the number of schools found is greater than 30, you’ll be asked to refine the characteristics to reduce the size of the set. You can do this by narrowing the parameters used or selecting additional characteristics.</p>

        <p> If you decide to do a quick comparison, the system can automatically reduce large sets of results.</p>
        
        <a id="question-ten"></a>
        
        <h2 class="heading-large">Can I save charts so I can return to them or show them to others?</h2>
        
        Yes. From the benchmarking charts page, select the charts you want to save using either ‘Save as image’ or ‘Add to your charts’. To see your saved charts, go to the ‘Your charts’ tab. You can filter these results by name and add more by selecting further tick boxes. Once you view your selected charts, you can print a report from the top of the page.

        <a id="question-six"></a>
        
        <h2 class="heading-large">Gaps in the data</h2>

        <p>You might find gaps in the data you view. This could be because:</p>

        <ul>
            <li>data has been suppressed to protect privacy</li>
            <li>data hasn't been returned by a school</li>
            <li>data isn't available because some metrics have been introduced recently (Progress 8 and Attainment 8 data, for example, is only available from 2015 onwards.)</li>
        </ul>

        <a id="question-seven"></a>
        <h2 class="heading-large">Interpreting the data</h2>

        <p>
            You should take care when interpreting the data. It shows the position of a school relative to others; it doesn’t explain why this is. There may be good reasons for a school to have high or low figures. What’s important is that those involved in budget setting review the differences, and consider the reasons for them.

            To find out more about <a href="~/Help/InterpretingCharts">understanding the data, see our guidance on interpreting the charts</a>.
        </p>
        
        <p>You might also like to look at the <a href="https://www.gov.uk/school-performance-tables" target="_blank" rel="external" class="font16-ext-link">school performance tables</a> site.</p>
        
        <a id="question-eight"></a>
        <h2 class="heading-large">Which types of schools can I get data for?</h2>

        The data on the site is for maintained schools and academies in England. It’s based on schools’ Consistent Financial Reporting (CFR) returns and academies’ accounting returns. You can also get data for multi-academy trusts (MATs).
    </div>
</div>