@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "guidance";
}

@Html.Partial("Partials/SearchForSchoolsPanel")

<h1 class="heading-xlarge page-heading">Interpreting the charts</h1>
<div class="grid-row">

    <div class="column-one-third contents">
        <h3 class="heading-small">Contents</h3>
        <ul class="font-small">
            <li>
                <a href="#question-one">Interpreting income charts</a>
            </li>
            <li>
                <a href="#question-two">Interpreting expenditure charts</a>
            </li>
            <li>
                <a href="#question-three">Staff costs</a>
            </li>
            <li>
                <a href="#question-four">Premises costs</a>
            </li>
            <li>
                <a href="#question-five">Occupation costs</a>
            </li>
            <li>
                <a href="#question-six">Supplies and services</a>
            </li>
            <li>
                <a href="#question-seven">Cost of finance</a>
            </li>
            <li>
                <a href="#question-eight">Special facilities</a>
            </li>
        </ul>
    </div>
    <div class="column-two-thirds text">

        <a id="question-one"></a>
        <h2 class="heading-large">
            Interpreting income charts
        </h2>
        <p >
            Here you can see how your funding compares with similar schools. Funding levels are determined by a combination of central allocations to each local authority and the local authority funding formula. The LA funding formula is set in consultation with schools forums.
        </p>
        <p>
            In many cases, the benchmarking tool can also help you identify similar schools that have self-generated higher levels of income, which can be invested to support pupil progress.
        </p>
        <p>
            If you are interested in increasing your levels of self-generated income, you may find it useful to contact these schools to determine the similarities and differences between your schools and whether there are opportunities to learn from their approach.
        </p>

        <a id="question-two"></a>
        <h2 class="heading-large">Interpreting expenditure charts</h2>

        <p>
            Here you can see how your expenditure compares with similar schools.
        </p>

        <a id="question-three"></a>
        <h3 class="heading-medium">Staff costs</h3>

        <p>As staffing typically represents between 75% and 80% of mainstream schools’ expenditure, and more for special schools and PRUs, it’s important that schools review their staff structures regularly as part of their annual school improvement, curriculum and financial planning. </p>

        <p>When you are interrogating other schools’ finances to compare with your own, it’s important to look at the education delivery model as a whole. The data that sits within the workforce tab on the benchmark charts page will help with this. </p>
        <p>
            It is also useful to have discussions with professionals in other schools in your benchmark set to grain greater insight into the reasons they operate in the way they do and evaluate the suitability of alternative education delivery models to your own situation.
        </p>
        
        <p>
            Further <a target="_blank" href="https://www.gov.uk/government/publications/school-workforce-planning">guidance on school workforce and curriculum planning</a> can be found on gov.uk.
        </p>

        <a id="question-four"></a>
        <h3 class="heading-medium">Premises costs</h3>

        <p>Next to staffing costs, premises costs can be one of the most expensive groups in the costing structure. This cost grouping includes premises staff, cleaning, caretaking, maintenance and improvement, and PFI charges. </p>
        <p>
            It is useful to look at the premises total expenditure as a percentage of total cost in the first instance and consider whether this is significantly higher or lower than others. This can sometimes be explained by the amount of income generated through the hire of the school’s facilities.
        </p>
        <p>
            Some components in the premises costs block need to be looked at together. For example, if you have directly employed premises staff members, they often undertake basic maintenance and improvement tasks and this usually brings economies to schools. When comparing maintenance and improvement costs with other schools, it is also wise to look at premises staff costs at the same time. 
        </p>
        
        <p>
            Further <a target="_blank" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement">guidance on effective and collaborative procurement</a> can be found on gov.uk. 
        </p>

        <a id="question-five"></a>
        <h3 class="heading-medium">Occupation costs</h3>

        <p>
            It is sensible to look at these as a percentage of the total expenditure for your school.  However, it can also be useful to look at some of these costs related to per pupil. Water and sewerage costs are worth investigating on a per pupil basis as the cost driver here is people.
        </p>
        <p>
            Energy costs are more complex. You have to heat the whole school and keep all the infrastructure ticking over all of the time. So an initial view of energy costs on a percentage of the total expenditure is a good starting point. However, if you also look at this cost element on a per pupil basis, it will challenge you as to whether you have the most energy efficient approaches that you could possibly have. It may also challenge you to consider whether you have made the best use of framework agreements to obtain maximum efficiencies from the costs you incur.
        </p>
        <p>
            Investment in energy saving improvements can often find medium to long term savings. The government supports an Energy Efficiency Loan Scheme, run by Salix Finance, to help schools meet energy efficiency investment costs. Further details can be found on the <a target="_blank" href="https://www.salixfinance.co.uk/loans/schools-loans">Salix website</a>. 
        </p>
        <p>
            Further <a target="_blank" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement">guidance on effective and collaborative procurement</a> can be found on gov.uk. 
        </p>

        <a id="question-six"></a>
        <h3 class="heading-medium">Supplies and services</h3>

        <p>This includes educational supplies, administrative supplies and bought-in professional services.</p>
        <p>
            If your school doesn’t have adequate and professional services, this can have a direct impact upon pupil outcomes. Educational supplies need to be modern and fit for purpose and schools need to access adequate professional services.
        </p>
        <p>
            ICT learning resources spending can sometimes take the form of a refurbishment or refit which will last a few years at least, so it is not possible to expect spending on this costing block to be even across a number of schools. 
        </p>
        <p>
            You should challenge any spending you have on ICT learning resources and consider whether you are obtaining the greatest efficiencies possible. Ask yourself whether you are procuring jointly with other schools to obtain savings. You might also want to consider the use of framework agreements in order to secure the best possible deals for your school. Spending under this heading should be immediately recognisable as the spending that was planned in your ICT development plan for that year.
        </p>
        <p>
            Learning resources are the very essence of your core business. You should evaluate how much of your total expenditure you are devoting to this important cost group. It is also useful to look at this on a per pupil basis and challenge yourself on whether you are spending enough on high quality learning resources. This is another example where benchmarking may challenge you to rebalance the allocations of finance within your expenditure structures, given that spending power is finite.
        </p>
        
        <p>
            Further <a target="_blank" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement">guidance on effective and collaborative procurement</a> can be found on gov.uk. 
        </p>

        <a id="question-seven"></a>
        <h2 class="heading-medium">Cost of finance</h2>

        <p>A few schools borrow money or have financing costs through leasing agreements, always with Department/ESFA approval. If you are one of those, you will have some costs in this cost heading. If you haven’t already done so, you could consider if there are opportunities to renegotiate the terms of your commitment.</p>

        <a id="question-eight"></a>
        <h3 class="heading-medium">Special facilities</h3>

        <p>
            If you click on the ‘More info’ tab, this gives you information about what some schools will have in this area. This is the kind of cost heading where there will be no norm. You need to check whether it looks right for your school and challenge yourselves as to whether the costs you incur under this heading are cost effective. You should also consider whether there are better ways of obtaining the services and evaluate what these add to pupil outcomes.
        </p>
    </div>
</div>