@{
    ViewBag.Title = "Introduction";
    ViewBag.pageClass = "guidance";
    ViewBag.pageDescription =
        "Find out how to use the schools financial benchmarking site.";
}

@section BackButtonContent{
    @Html.Partial("Partials/BackToHomeLink")
}


<div class="grid-row mt-2">
    <div class="column-one-third contents">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Contents
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="list font-xsmall">
                    <li><a id="btn-using-the-results-from-the-dashboard" href="#Using-the-results-from-the-dashboard">Using the results from the dashboard</a></li>
                    <li><a id="btn-custom-dashboard" href="#Custom-dashboard">Custom dashboard</a></li>
                    <li><a id="btn-technical-explanation" href="#Technical-explanation">Technical explanation</a></li>
                </ul>
            </nav>
        </aside>
    </div>

    <div class="column-two-thirds" id="helpContent">
        <h1 class="govuk-heading-xl">Introduction</h1>

        <p>
            The Self-Assessment Dashboard helps to provide school business professionals with assurance that they are meeting the basic standards necessary to achieve a good level of financial health and resource management.
        </p>

        <p>
            The dashboard tool can be used to identify possible areas for investigation and improvement to ensure that resources are being used to support high-quality teaching and the best education outcomes for pupils.
        </p>

        <p>
            The dashboard shows how a school’s data compares to thresholds on a range of statistics that have been identified by the Department for Education as indicators for good resource management and outcomes.
        </p>

        <a id="Using-the-results-from-the-dashboard"></a>
        <h2 class="govuk-heading-m">Using the results from the dashboard</h2>

        <p>The dashboard provides red, amber or green (RAG) ratings against a school’s data that indicates how its spend and characteristics compare with similar schools or nationally recognised bandings and recommendations:</p>

        <ul class="list list-bullet">
            <li>A red rating shows the school’s data is significantly out of line with schools with similar characteristics or recognised characteristics. It does not mean that there is definitely a problem, but that there may be scope for change,</li>
            <li>an amber rating shows that the school’s data is considerably out of line with the majority of similar schools or recognised characteristics,</li>
            <li>a light green rating shows that the school’s data is in line with the majority of other schools or recognised standards - it does not necessarily mean that there is no scope for change,</li>
            <li>a dark green rating shows that the school’s data is close to the middle of similar schools or better than recognised standards. Not all indicators will generate a dark green rating.</li>
        </ul>

        <p>
            The school should carefully consider the results for each indicator. For example:
        </p>

        <ul class="list list-bullet">
            <li>Why might the rating against the threshold be as it is?</li>
            <li>If the school is an outlier, are there any follow-up actions – for example, further investigation or changes to be made?</li>
            <li>
                If so, the <a href="/" target="_self" class="font19-ext-link">Schools financial benchmarking service</a>
                or <a href="https://www.compare-school-performance.service.gov.uk/" target="_blank" rel="external noopener noreferrer" class="font19-ext-link">School performance service</a>
                can be used to identify schools to contact and learn from.
            </li>
        </ul>

        <p>
            In addition, the <a href="https://www.gov.uk/government/publications/supporting-excellent-school-resource-management" target="_blank" rel="external noopener noreferrer" class="font19-ext-link">Supporting excellent school resource management strategy</a> provides access to detailed advice and support - both existing and planned - that the department is making available to help schools reduce cost pressures and make every pound spent count.
        </p>

        <p>
            This includes links to a growing list of national deals to help save money on some of the things schools buy regularly as well as support on managing the school workforce.
        </p>

        <a id="Custom-dashboard"></a>
        <h2 class="govuk-heading-m">Custom dashboard</h2>

        <p>This page can be used by users to modify data that has been automatically filled into the dashboard. Schools may wish to use this page to provide their own fully up-to-date budget information or to perform scenario planning, including the ability to construct side-by-side scenario views, for the same year or future years. </p>
        <p>Users should note that any edits they make will only be viewable on any subsequent visits to their school’s dashboard if they have selected the option to allow cookies, and if they are using the same computer where the cookies are stored. </p>
        <p class="bold">Your data is not submitted to the DfE, nor is it viewable by others visiting the site. If you are inputting sensitive data on a public computer, users are advised to click “reset” at the end of their session.</p>

        <a id="Technical-explanation"></a>
        <h1 class="govuk-heading-xl mt-1">Technical explanation</h1>

        <p>Using the latest available data on schools and academies spend and characteristics, we have calculated thresholds for:</p>

        <ul class="list list-bullet">
            <li>Section B (spending as a percentage of total expenditure)</li>
            <li>senior leaders as a percentage of workforce,</li>
            <li>pupil to teacher ratio,</li>
            <li>pupil to adult ratio,</li>
            <li>average class size.</li>
        </ul>

        <p>
            For each of these indicators, schools are put into one of the following categories:
        </p>

        <ul class="list list-bullet">
            <li>very small primary schools with low free school meals (FSM) rates</li>
            <li>very small primary schools with medium FSM rates</li>
            <li>very small primary schools with high FSM rates</li>
            <li>small primary schools with low FSM rates</li>
            <li>small primary schools with medium FSM rates</li>
            <li>small primary schools with high FSM rates</li>
            <li>medium primary schools with low FSM rates</li>
            <li>medium primary schools with medium FSM rates</li>
            <li>medium primary schools with high FSM rates</li>
            <li>large primary schools with low FSM rates</li>
            <li>large primary schools with medium FSM rates</li>
            <li>large primary schools with high FSM rates</li>
            <li>small secondary schools with a sixth form and low FSM rates</li>
            <li>small secondary schools with a sixth form and medium FSM rates</li>
            <li>small secondary schools with a sixth form and high FSM rates</li>
            <li>medium secondary schools with a sixth form and low FSM rates</li>
            <li>medium secondary schools with a sixth form and medium FSM rates</li>
            <li>medium secondary schools with a sixth form and high FSM rates</li>
            <li>large secondary schools with a sixth form and low FSM rates</li>
            <li>large secondary schools with a sixth form and medium FSM rates</li>
            <li>large secondary schools with a sixth form and high FSM rates</li>
            <li>small secondary schools with no sixth form and low FSM rates</li>
            <li>small secondary schools with no sixth form and medium FSM rates</li>
            <li>small secondary schools with no sixth form and high FSM rates</li>
            <li>medium secondary schools with no sixth form and low FSM rates</li>
            <li>medium secondary schools with no sixth form and medium FSM rates</li>
            <li>medium secondary schools with no sixth form and high FSM rates</li>
            <li>large secondary schools with no sixth form and low FSM rates</li>
            <li>large secondary schools with no sixth form and medium FSM rates</li>
            <li>large secondary schools with no sixth form and high FSM rates</li>
            <li>all-through schools</li>
            <li>special schools</li>
            <li>alternative provision and PRUs</li>
            <li>nursery schools</li>
        </ul>

        <p>
            We have explored including additional factors, including whether the school is rural or urban, and the percentage of pupils with special educational needs. These did not affect the resulting RAG ratings significantly, so we have left them out for simplicity. We will keep this under review as new data becomes available.
        </p>

        <p>
            The definition of small, medium, and large schools is set using quartiles so they may change over time. The numbers below are correct as of 2019-20 and apply to all years.
        </p>

        <table class="govuk-table guidance-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Primary schools</caption>
            <tr>
                <th>Number of pupils</th>
                <th>Size of school</th>
            </tr>
            <tr>
                <td>0 to 100</td>
                <td>Very small</td>
            </tr>
            <tr>
                <td>101 to 175</td>
                <td>Small</td>
            </tr>
            <tr>
                <td>176 to 385</td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>386 or more</td>
                <td>Large</td>
            </tr>
        </table>

        <table class="govuk-table guidance-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Secondary schools with a sixth form</caption>
            <tr>
                <th>Number of pupils</th>
                <th>Size</th>
            </tr>
            <tr>
                <td>0 to 770</td>
                <td>Small</td>
            </tr>
            <tr>
                <td>771 to 1,300</td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>1,301 or more</td>
                <td>Large</td>
            </tr>
        </table>

        <table class="govuk-table guidance-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Secondary schools without a sixth form</caption>
            <tr>
                <th>Number of pupils</th>
                <th>Size</th>
            </tr>
            <tr>
                <td>0 to 485</td>
                <td>Small</td>
            </tr>
            <tr>
                <td>486 to 935</td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>936 or more</td>
                <td>Large</td>
            </tr>
        </table>

        <p class="mt-2 mb-0">The definition of low, medium, and high FSM rates is also set using quartiles.</p>
        <table class="govuk-table guidance-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Primary schools</caption>
            <tr>
                <th>Percentage of pupils eligible for FSM</th>
                <th>FSM rate</th>
            </tr>
            <tr>
                <td>0% to 5%</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>5% to 18%</td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>Above 18%</td>
                <td>High</td>
            </tr>
        </table>

        <table class="govuk-table guidance-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Secondary schools with a sixth form</caption>
            <tr>
                <th>Percentage of pupils eligible for FSM</th>
                <th>FSM rate</th>
            </tr>
            <tr>
                <td>0% to 6%</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>6% to 16.5%</td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>Above 16.5%</td>
                <td>High</td>
            </tr>
        </table>

        <table class="govuk-table guidance-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Secondary schools without a sixth form</caption>
            <tr>
                <th>Percentage of pupils eligible for FSM</th>
                <th>FSM rate</th>
            </tr>
            <tr>
                <td>0% to 8%</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>8% to 21.5%</td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>Above 21.5%</td>
                <td>High</td>
            </tr>
        </table>

        <p class="mt-2">
            To set the thresholds for average teacher costs, schools are categorised as:
        </p>

        <ul class="list list-bullet">
            <li>primary schools in inner or outer London</li>
            <li>primary schools outside London</li>
            <li>secondary schools with a sixth form in inner or outer London</li>
            <li>secondary schools with a sixth form outside London</li>
            <li>secondary schools with no sixth form in inner or outer London</li>
            <li>secondary schools with no sixth form outside London</li>
            <li>all-through schools in inner or outer London</li>
            <li>all-through schools outside London</li>
            <li>special schools in inner or outer London</li>
            <li>special schools outside London</li>
            <li>alternative provision and PRUs in inner or outer London</li>
            <li>alternative provision and PRUs outside London</li>
            <li>nursery schools in inner or outer London</li>
            <li>nursery schools outside London</li>
        </ul>

        <p>The RAG ratings have been calculated using maintained school and academy 2017/18 and 2018/19.  Years 2019/20 and 2020/2021 have had uplifts for teacher spending and average teacher costs applied. RAG ratings for all assessment areas will be updated automatically as new data is received.</p>

        <p>The majority of the metrics in the dashboard are percentages and ratios which at a national level don’t change significantly year on year, so they still provide a fair and useful comparison with your up to date data.</p>

        <p>However, to reflect pay awards and pension contribution changes, the underlying data on teaching staff spending and average teacher costs have been adjusted. The RAG ratings for spend on teaching staff as a percentage of total expenditure and average teacher costs include uplifts relating to the year selected in the dashboard.</p>

        <table class="govuk-table guidance-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Teacher cost uplifts</caption>
            <tr>
                <th>Year</th>
                <th>Uplift</th>
            </tr>
            <tr>
                <td>2018 to 2019</td>
                <td>no uplift applied</td>
            </tr>
            <tr>
                <td>2019 to 2020</td>
                <td>8.6% uplift</td>
            </tr>
            <tr>
                <td>2020 to 2021 or later</td>
                <td>11.9% uplift</td>
            </tr>
        </table>
        	
    </div>
</div>