@model SFB.Web.UI.Models.BenchmarkChartListViewModel
<div class="charts-section custom-report">
    @if (Model.ModelList.Count > 0)
    {
        <div id="benchmarkChartsList">
            @Html.Partial("Partials/Chart", Model.ModelList)
        </div>
    }
    else {
        <div style="text-align: center">
            <h2 class="govuk-heading-m govuk-!-margin-top-6">You have no charts</h2>
            <p class="govuk-body">
                Either bulk add charts above or individually on the other tabs.
            </p>
        </div>
    }
</div>
