@model SFB.Web.UI.Models.BenchmarkChartListViewModel
<div class="chartsSection custom-report">
    <div id="benchmarkChartsList">
        @Html.Partial("Partials/Chart", Model.ModelList)
    </div>
</div>
