
<?xml version="1.0" encoding="UTF-8"?>

<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />

  <add key="webpages:Enabled" value="false" />

  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

  <add key="ClientValidationEnabled" value="true" />

  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="SessionExpireTimeSpan" value="00:05:00" />

  <add key="database" value="sfb-dev" />

  <add key="endpoint" value="https://cm-t1dv-sfb.documents.azure.com:443/" />

  <add key="authKey" value="jb6zLRPQHXRihfokbShwbbrzjVNAf46T8Ra6O6IIrJ1l1bZSZketHn9ltdv19JZzP8FgMkQzABROSk70qtkK2Q==" />

  <add key="SearchInstance" value="ss-t1dv-sfb" />

  <add key="SearchKey" value="93C0FF467A1699089F9427DBDCF1F2A2" />

  <add key="SearchIndex" value="search" />

  <add key="SearchIndexTrust" value="search-trust" />

  <add key="GoogleAnalyticsId" value="UA-123353106-1" />

  <add key="GoogleAPIKey" value="AIzaSyCBMWps4dupFRzQ1D6I3QlI0AqpncloJ0c" />

  <add key="GoogleTagManagerId" value="GTM-TTHL2RR" />

  <add key="DynamicHeaderContent" value="If you would like to help us improve the usability of the beta site through a testing session, please email &#x3C;a href=&#x22;mailto:school.resourcemanagement@education.gov.uk&#x22; target=&#x22;_top&#x22;&#x3E;school.resourcemanagement@education.gov.uk&#x3C;span class=&#x22;visuallyhidden&#x22;&#x3E; Email link&#x3C;/span&#x3E;&#x3C;/a&#x3E;" />

  <add key="EnableAITelemetry" value="false"/>

  <add key="EnableElmahLogs" value="false"/>

  <add key="SptApiUrl" value="https://www.find-school-performance-data.service.gov.uk" />

  <add key="GiasApiUrl" value="https://www.get-information-schools.service.gov.uk" />

  <add key="ExternalServiceCacheHours" value="0.5"/>

  <add key="SptApiUserName" value="internal" />

  <add key="SptApiPassword" value="hansgruber1988" />

  <add key="AuthenticationEnabled" value="false" />

  <add key="TestUserName" value="internal" />

  <add key="TestPassword" value="1908@twspssc" />

  <add key="AzureMapsAPIKey" value="a9NgtkMSBjA8_lOofQh2cpm1TkxboXmpwzMAVMbgWP8"/>

  <!--<add key="RedisConnectionString" value="sfb-prod-ab.redis.cache.windows.net:6380,password=1MS0siYj6UvP0G5p4fcNRX5QBu0UwvDEOU8AvdeOEDg=,ssl=True,abortConnect=False,sslprotocols=tls12"/>-->

  <add key="RedisConnectionString" value="sfb-dev.redis.cache.windows.net:6380,password=Zj9kmgML2eZvkzH3JShf+dz838scEWhDG7ElADWYDmI=,ssl=True,abortConnect=False,sslprotocols=tls12"/>

  <!--<add key="NotifyAPIKey" value="sfb_test-b1a58b30-546c-476a-b37a-e31b3bbe2b02-4dd2c743-44af-4475-b3d3-8ca4cdd76d7d"/> 

  <add key="NotifyAPIKey" value="sfbteam-b1a58b30-546c-476a-b37a-e31b3bbe2b02-2035d9d2-7372-4edb-b5ff-88e0146f06cd"/> -->

  <add key="NotifyAPIKey" value="sfbproduction-b1a58b30-546c-476a-b37a-e31b3bbe2b02-d4209cd9-1262-4117-8046-43834cf1a98d"/>

  <add key="UserEmailTemplateId" value="c417c9f7-9fa3-4aa5-8a05-c80efa6575ac"/>  

  <add key="DfEEmailTemplateId" value="6cad82db-4b2c-44a9-8112-4961d254ec45"/>    

  <add key="ContactUsUserEmailTemplateId" value="07c09a67-ea23-412a-af69-74a2701a2009"/>  

  <add key="ContactUsDfEEmailTemplateId" value="83fdae03-1424-4f9c-83df-f29a604439be"/>  

  <add key="RecruitmentEmailTemplateId" value="457aa6f2-103b-4e14-9aef-25708ee98fcc"/>  

  <add key="BetaSurveyUrl" value="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_cUt5o7hpEyXBUOh"/>  

  <add key="BMSurveyUrl" value="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_1ZV7aparOQ145OR"/>  

  <add key="SRMEmailAddress" value="BetterFinancialReporting.COMMS@education.gov.uk"/>  

  <!--<add key="EfficiencyMetricsUrl" value="http://localhost:4201/efficiency-metric"/> 

  <add key="SelfAssessmentUrl" value="https://as-t1dv-sfb-sa.azurewebsites.net/self-assessment"/>  -->

  <add key="EfficiencyMetricsUrl" value="https://as-t1dv-sfb-em.azurewebsites.net/efficiency-metric"/>

  <add key="SelfAssessmentUrl" value="http://localhost:4200/self-assessment"/>

  <add key="cookieDomain" value="localhost"/>

  <add key="SelfAssessmentUrl" value="https://as-t1dv-sfb-sa.azurewebsites.net/self-assessment"/>

  <add key="cookieDomain" value="localhost"/>  

  <add key="emCollection" value="20210318000000-EM-2021-2022"/>  

  <add key="trustHistoryCollection" value="20210713-TrustHistory-2021-2022"/>  

  <!-- <add key="SfbApiUrl" value="localhost:44383"/>     -->

  <add key="SfbApiUrl" value="aa-t1dv-sfb.azurewebsites.net"/>

  <add key="Feature-RevisedSchoolPage-enabled" value="True"/>  

  <add key="UnderReviewSchools" value="138492"/>  

  <add key="UnderReviewTrusts" value="8850163"/>  

  <add key="UnderReviewMessageForSchools" value="This school’s finances are currently under review and may be amended."/>  

  <add key="UnderReviewMessageForTrusts" value="This trust’s finances are currently under review and may be amended."/>  

   

  <!--  <add key="DfeApiUrl" value="http://dfe-api-stage.azurewebsites.net/api" />

  <add key="DfEApiUserName" value="API" />

  <add key="DfEApiPassword" value="76+tYhGjKl94eF" />

  <add key="DfEApiPassword" value="+767jjUUhytagkkllPlli212" />-->

  

</appSettings>