@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.TrustListViewModel

<div class="govuk-grid-column-one-third @(Request.QueryString["searchtype"] == SearchTypes.SEARCH_BY_TRUST_LOCATION ? "trust-location-filter" : "hidden-filter")">
    <div class="filter-form">
        <details class="govuk-details" data-module="govuk-details" open>
            <summary class="govuk-details__summary filter-detail"><span class="summary govuk-!-font-size-16">Show search filters</span></summary>
            <div class="govuk-details__text panel filter-detail">
                @(Html.Partial("Partials/TrustFilterForm", Model))
            </div>
        </details>
    </div>
</div>

<div class="govuk-grid-column-two-thirds">
    <div aria-live="assertive" class="js-search-results-info">
        <div class="result-info">
            <p class="govuk-body summary" aria-live="assertive">
                <span class="bold count-js">@(Model.Pagination.Total)</span> academy trusts found
            </p>
        </div>
    </div>
    @if (Model.ModelList.Count > 0)
    {
        @(Html.Partial("Partials/TrustResults", Model))
    }
    else
    {
        <p class="govuk-body-m govuk-!-font-weight-bold" style="margin-top:22px;">Please try:</p>
        <p class="govuk-body indent">
            •	<a class="govuk-link" href="/">searching again</a> using different spelling or words
        </p>
        <p class="govuk-body indent">
            •	removing your filters
        </p>
    }
</div>