<div class="phase-banner-beta">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="@System.Configuration.ConfigurationManager.AppSettings["BetaSurveyUrl"]" rel="external noopener noreferrer" target="_blank" class="govuk-link" title="Feedback form will open in a new page">feedback<span class="govuk-visually-hidden"> Opens in a new window</span></a> will help us to improve it.</span>
    </p>
</div>