@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "guidance";
    ViewBag.pageDescription =
        "Find out how to use the schools financial benchmarking site.";
}

@section BackButtonContent{
    @Html.Partial("Partials/BackToHomeLink")
}


<div class="grid-row">

    <div class="column-one-third contents">
        <h3 class="heading-small">Contents</h3>
        <ul class="list font-xsmall">
            <li><a href="#system-update">System update</a></li>
            @*<li><a href="#recent-improvements">Recent improvements</a></li>*@
        </ul>
    </div>
    <div class="column-two-thirds text" id="helpContent">
        <h1 class="heading-xlarge page-heading">News</h1>

        <a id="system-update"></a>
        <h2 class="heading-medium">System update</h2>
        <h3 class="heading-small">28 August 2019</h3>
        <p>
            An updated version of the Schools Financial Benchmarking service has been released to all users. You do not need to take any specific action.
        </p>
        <p>
            This release includes the following changes: 
            <ul class="list list-bullet">
                <li>Hyperlinks to align Trust Information to Company House website.</li>
                <li>Benchmarking charts and tables can now be downloaded in powerpoint, as well as PDF format.</li>
                <li>New manual comparison for Names and Locations.</li>
                <li>Improvements to banners to ensure information is visible at all times.</li>
                <li>Improvements to the visibility of lower level tables.</li>
                <li>Improvements to iPad functionality.</li>
                <li>Improvements in exporting charts in PDF format on android tablets.</li>
                <li>Accessibility improvements</li>
                <li>Bug fixes and fine-tuning to improve the overall user experience.</li>
            </ul>
        </p>

        <p>Further improvements will be added in future releases but you can comment on any changes in your experience by completing our 
        <a href="http://www.smartsurvey.co.uk/s/GMJAJ/" rel="external noopener noreferrer" target="_blank" class="font16-ext-link" title="Survey page will open in a new page">survey<span class="visuallyhidden"> Opens in a new window</span></a>. 
        Completing the survey will also give you the opportunity to join our group of user experience testers and help us suggest and shape new features and the future development of the service.</p>
        

        @*<a id="recent-improvements"></a>
        <h2 class="heading-medium">Recent improvements</h2>
        <h3 class="heading-small">XX September 2019</h3>

        <p>In recent months we have added some new features which you may not be aware of. These include</p>
        <p>
            <ul class="list list-bullet">
                <li>
                    <span class="bold-small">Quick comparison reports.</span>
                    These reports provide a very quick route to some high level benchmarking charts, comparing your school with schools with similar characteristics. You will find this feature below your school name on the school context page.
                </li>
                <li>
                    <span class="bold-small">Schools with the highest progress and similar characteristics.</span>
                    This comparison method brings in progress scores to benchmarking charts. It compares your school with similar schools who are achieving the most in terms of pupil progress. By using this feature you should be able to identify schools you would want to contact to learn more about how they allocate resource to achieve greater pupil progress. This feature is only available for schools which have KS2 or KS4 progress scores. This feature canbe found by clicking on the compare with other schools button.
                </li>
            </ul>
        </p>
        <p>
            Further improvements will be added in future releases but you can comment on any changes in your experience by completing our
            <a href="http://www.smartsurvey.co.uk/s/GMJAJ/" rel="external noopener noreferrer" target="_blank" class="font16-ext-link" title="Survey page will open in a new page">survey<span class="visuallyhidden"> Opens in a new window</span></a>.
            Completing the survey will also give you the opportunity to join our group of user experience testers and help us suggest and shape new features and the future development of the service.
        </p>*@
</div>