@{
    ViewBag.Title = "News";
    ViewBag.pageClass = "guidance";
    ViewBag.pageDescription =
        "Find out how to use the schools financial benchmarking site.";
}


@section BackButtonContent{
    @if (ViewBag.referrer == null || ViewBag.referrer == "/")
    {
        Html.RenderPartial("Partials/BackToHomeLink");
    }
    else
    {
        <a class="govuk-back-link" href="@ViewBag.referrer" aria-label="Back to previous page">Back</a>
    }
}


<div class="grid-row mt-2">

    <div class="column-one-third contents">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">Contents</h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="list font-xsmall">
                    <li><a href="#service-update">Service update - Data release</a></li>
                </ul>
            </nav>
        </aside>
    </div>

    <div class="column-two-thirds" id="helpContent">
        <h1 class="govuk-heading-xl">News</h1>

        <a id="service-update"></a>
        <h2 class="heading-medium">Service update - Data release</h2>
        <h3 class="heading-small">15th February 2021</h3>
        <p>
            The 15th February release of the Schools Financial Benchmarking service includes:
            <ul class="list-bullet">
                <li>Enhancements to accessibility functionality across the whole service</li>
                <li>New link to “Back to School Characteristics” on the special school quick comparison benchmark page. </li>
                <li>Alignment of all drop down menus on central funding distribution</li>
                <li>Self Assessment Dashboard download is now available as a .ppt</li>
            </ul>
        </p>        
        <p>
            Further improvements will be added in future releases. You can comment on any changes in your experience by emailing
            <a href="mailto:school.resourcemanagement@education.gov.uk" class="font16-ext-link" title="Will open the email client.">school.resourcemanagement@education.gov.uk</a>.
            You can also use this email address to join our group of user experience testers and help us shape new features and the development of the service.
        </p>

    </div>


</div>