@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "guidance";
    ViewBag.pageDescription =
        "Find out how to use the schools financial benchmarking site.";
}


@section BackButtonContent{
    @if (ViewBag.referrer == null || ViewBag.referrer == "/")
    {
        Html.RenderPartial("Partials/BackToHomeLink");
    }
    else
    {
        <a class="home-link" href="@ViewBag.referrer" aria-label="Back to previous page">
            <i class="icon icon-back">
                <span class="visually-hidden">Back to previous page</span>
            </i>
            <span class="back-link">Back to previous page</span>
        </a>
    }
}


<div class="grid-row mt-2">

    <div class="column-one-third contents">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">Contents</h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="list font-xsmall">
                    <li><a href="#service-update">Service update - New feature</a></li>
                </ul>
            </nav>
        </aside>
    </div>

    <div class="column-two-thirds" id="helpContent">
        <h1 class="govuk-heading-xl">News</h1>

        <a id="service-update"></a>
        <h2 class="heading-medium">Service update - New feaure</h2>
        <h3 class="heading-small">10 November 2020</h3>
        @*<p>
            The 9th November release of the Schools Financial Benchmarking service includes a significant new feature.
        </p>        
        <p>
            Users can now navigate to the Efficiency Metric service from the individual school page.
        </p>*@
        <p>
            The SFB site has had some of its minor functionality revised in order to improve the overall performance of the site. This includes:
            <ul class="list-bullet">
                <li>Print & Download icons have moved on side by side scenarios</li>
                <li>Efficiency Metric and Self Assessment modals are matching existing School Financial Benchmarking modals</li>
                <li>Downloaded files from the Self Assessment Dashboard have had formatting improvements</li>
                <li>Schools with “The” in the middle of their name have had omissions removed</li>
            </ul>
        </p>
        <p>
            Further improvements will be added in future releases. You can comment on any changes in your experience by emailing
            <a href="mailto:school.resourcemanagement@education.gov.uk" class="font16-ext-link" title="Will open the email client.">school.resourcemanagement@education.gov.uk</a>.
            You can also use this email address to join our group of user experience testers and help us shape new features and the development of the service.
        </p>

    </div>


</div>