@model SFB.Web.UI.Models.TrustSelfAssessmentModel

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    
    <li class="govuk-breadcrumbs__list-item">
      @Html.ActionLink(
        @Model.TrustName,
        "Detail",
        "Trust",
        new { companyNo = Model.CompanyNumber },
        new { @class ="govuk-breadcrumbs__link" })
    </li>
  </ol>
</div>

