@using SFB.Web.UI.Helpers.Enums

<form action="/BenchmarkCriteria/StepOne" 
      class="tab-content tab-content--@ViewHelpers.NoDefaultTabActive(Model.SearchType)" 
      id="NoDefaultTabContent"
      role="tabpanel">
    <div class="form-group">
        <fieldset>
            <p class="mt-1">This allows you to create a benchmark set without using a default school. If you already have a default school it will be removed.</p>

            <legend>
                <span class="form-group heading-small bold-small mb-1">
                    Compare by:
                </span>
            </legend>

            <div class="multiple-choice">
                <input id="radio-2" type="radio" name="comparisonType" value="@ComparisonType.Advanced">
                <label class="selection-button-radio" for="radio-2">
                    Detailed comparison using characteristics you choose
                </label>
            </div>

            <div class="multiple-choice">
                <input id="radio-4" type="radio" name="comparisonType" value="@ComparisonType.Manual">
                <label class="selection-button-radio" for="radio-4">
                    Manual comparison by name or location
                </label>
            </div>

        </fieldset>
    </div>
    <div class="grid-row mb-1">
        <div class="column-half">
            <div class="column-half next-button">
                <button type="submit" class="govuk-button">Continue</button>
            </div>
        </div>
    </div>
</form>