@model SFB.Web.UI.Models.SearchedSchoolListViewModel

<div class="column-one-third">
    <div class="filter-form">
        <details class="govuk-details" data-module="govuk-details" open>
            <summary class="govuk-details__summary filter-detail"><span class="summary font-xsmall">Show search filters</span></summary>
            <div class="govuk-details__text panel filter-detail">
                @(Html.Partial("Partials/Search/FilterForm", Model))
            </div>
        </details>
    </div>
</div>
<div class="column-two-thirds">
    @(Html.Partial("Partials/Search/SchoolResults", Model))
</div>
