@model SFB.Web.UI.Models.SearchedSchoolListViewModel

<div class="column-one-third">
    <div class="filter-form">
        <details open>
            <summary class="filter-detail"><span class="summary font-xsmall">Show search filters</span></summary>
            <div class="panel panel-border-narrow filter-detail">
                @(Html.Partial("Partials/Search/FilterForm", Model))
            </div>
        </details>
    </div>
</div>
<div class="column-two-thirds">
    @(Html.Partial("Partials/Search/SchoolResults", Model))
</div>
