<form method="get" action="/SchoolSearch/Search" autocomplete="off" class="tab-content tab-content--@ViewHelpers.SchoolTabActive(Model.SearchType)" id="SchoolTabContent">
    <div class="form-group">
        <fieldset>
            <legend class="visuallyhidden">Select a search type option</legend>
            <div>
                <h2 class="form-group heading-small bold-small mb-1">
                    Search by:
                </h2>

                @Html.Partial("Partials/Search/SchoolNameSearchOption")
                @Html.Partial("Partials/Search/SchoolLocationSearchOption")
                @Html.Partial("Partials/Search/SchoolLaSearchOption")
            </div>
        </fieldset>
    </div>
</form>