@model SFB.Web.UI.Models.TrustListViewModel

<div id="schoolResults">

    @Html.Partial("Partials/Pagination", Model.Pagination)

    <ul>
        @foreach (var trust in Model.ModelList)
        {
            <li class="document">
                <a href="/trust/index?companyNo=@trust.CompanyNo" class="bold-small">@trust.Name</a>
            </li>
        }
    </ul>

    @Html.Partial("Partials/Pagination", Model.Pagination)

</div>
