<form method="get" action="/TrustSearch/Search" autocomplete="off" 
      class="tab-content tab-content--@ViewHelpers.TrustTabActive(Model.SearchType)" 
      id="TrustTabContent"
      role="tabpanel">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-top-3">
                Search by:
            </legend>
            <div>
                @Html.Partial("Partials/Search/TrustNameSearchOption")
                @Html.Partial("Partials/Search/TrustLocationSearchOption")
                @Html.Partial("Partials/Search/TrustLaSearchOption")
            </div>
        </fieldset>
    </div>
</form>