@{
    ViewBag.Title = "Accessibility statement for Schools financial benchmarking";
    ViewBag.pageClass = "accessibility-statement";
}

<h1 class="heading-xlarge page-heading">Accessibility statement for Schools financial benchmarking</h1>
<p>
    This service is part of the wider GOV.UK website. There's a separate accessibility statement for the main GOV.UK website.
</p>
<p>
    This page only contains information about the Schools financial benchmarking service, available at <a href="/">https://schools-financial-benchmarking.service.gov.uk</a>
</p>
<p>
    This service is run by the Department for Education. We want as many people as possible to be able to use this service. For example, that means you should be able to:
</p>
<ul class="list list-bullet">
    <li>Change colours and contrast</li>
    <li>Zoom in up to 400% without any problems</li>
    <li>Use ChromeVis and other magnify apps</li>
    <li>Navigate the service using just a keyboard</li>
    <li>Navigate the service using speech recognition software</li>
    <li>Listen to the service using a screen reader</li>
</ul>
<p>
    Browsers used during testing include:
    <ul class="list list-bullet">
        <li>Internet Explorer 11</li>
        <li>Firefox</li>
        <li>Safari</li>
        <li>Chrome</li>
    </ul>
</p>
<p>
    Tools and techniques used during testing include:
    <ul class="list list-bullet">
        <li>Jaws 18 and 2019</li>
        <li>NVDA</li>
        <li>VoiceOver</li>
        <li>Dragon Voice Activation v15</li>
        <li>Keyboard</li>
        <li>Screen Magnification</li>
        <li>Reflow (1280 x 1024px and 400% magnification)</li>
        <li>Text Spacing (Line Height, Paragraph, Word and Letter spacing)</li>
        <li>Colour blind checks</li>
        <li>Resizing Content</li>
        <li>ChromeVox</li>
        <li>Gold Read and Write</li>
        <li>System inverted colours</li>
        <li>Siteimprove</li>
        <li>Axe</li>
        <li>WAVE</li>
        <li>Lighthouse</li>
    </ul>
</p>

<p>
    We've also made the text in the service as simple as possible to understand.
</p>

<p><a rel="external noopener noreferrer" href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

<h2 class="heading-medium">How accessible this service is</h2>

<p>
    We know some parts of this website are not fully accessible:
    <ul class="list list-bullet">
        <li>Users of high contrast mode may find their preferences do not work well with some of the maps and associated features as the map tiles and markers retain their original styling.</li>
        <li>Whilst navigating via keyboard, toggling between list and map view causes loss of keyboard focus. The map markers do not have a visible indication when focused.</li>
        <li>Some downloads are in formats that are not accessible to a screen reader</li>
        <li>Charts are in formats that are not accessible to screen readers</li>
        <li>In third step of detailed comparison, screen reader users are not informed of the some updated information when they make a selection</li>
        <li>In search suggestions, users are redirected to the search result page on selection without being advised of the behaviour before using the component</li>
        <li>Maps can be difficult to navigate via keyboards and screen readers</li>
    </ul>
</p>


<h2 class="heading-medium">Feedback and contact information</h2>

<p>You can contact us about this service using the contact link in the page footer.</p>
<p>
    If your query is about anything else or you need to contact us by phone, you can find out how to contact us at
    <a href="http://www.gov.uk/contact-dfe" target="_blank" title="Link will open in a new page" rel="external noopener noreferrer">www.gov.uk/contact-dfe</a>
</p>

<h2 class="heading-medium">Reporting accessibility problems with this service</h2>

<p>We're always looking to improve the accessibility of this service. If you find any problems that aren't listed on this page or think we're not meeting accessibility requirements please contact us using the contact link in the page footer.</p>

<h2 class="heading-medium">Enforcement procedure</h2>

<p>
    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you're not happy with how we respond to your complaint, contact the <a rel="external noopener noreferrer" href="http://www.equalityadvisoryservice.com">Equality Advisory and Support Service</a>
</p>

<h2 class="heading-medium">Technical information about this service's accessibility</h2>

<p>
    The Department for Education is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
</p>

<h2 class="heading-medium">Compliance status</h2>
<p>
    This website is partially compliant with the <a rel="external noopener noreferrer" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances and exemptions listed below.
</p>

<h2 class="heading-medium">Non-accessible content</h2>

<p>
    The content listed below is non-accessible for the following reasons.
    <ul class="list list-bullet">
        <li>Awaiting functionality testing and release</li>
        <li>Functionality works as required by our user base</li>
        <li>We are currently unable to make improvements due to technology limitations</li>
    </ul>
</p>

<h2 class="heading-medium">Non-compliance with the accessibility regulations</h2>

<p>
    There are some continuing accessibility problems which are:
</p>
<h3 class="heading-small">
    Sortable Tables
</h3>
<p>
    Findings - The table contents throughout the service can be sorted. There is no visual representation of this and this functionality may be missed. Additionally, there is no identification programmatically for screen reader users that these can be sorted. The links are the same colour as body text and this would also need fixing.
</p>
<h3 class="heading-small">Info and Relationships</h3>
<p>
    1.3.1 Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text.
</p>
<h3 class="heading-small">Use of Colour</h3>
<p>
    1.4.1 Colour is not used as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element.
</p>
<h3 class="heading-small">Name, Role, Value:</h3>
<p>4.1.2 For all user interface components (including but not limited to: form elements, links and components generated by scripts), the name and role can be programmatically determined; states, properties, and values that can be set by the user can be programmatically set; and notification of changes to these items is available to user agents, including assistive technologies.</p>
<p>
    Awaiting testing and release.
</p>
<h3 class="heading-small">Contrast (Minimum)</h3>
<p>Some of the colour combinations found on the site are low contrast and are likely to be difficult for people with low vision to read.</p>
<p>1.4.3 The visual presentation of text and images of text has a contrast ratio of at least 4.5:1:</p>
<p>Awaiting testing and release. </p>
<h3 class="heading-small">Non-text Contrast</h3>
<p>There were some elements present that had a colour used for styling focus indication that did not pass the expected ratio.</p>
<p>
    1.4.11 The visual presentation of the following have a contrast ratio of at least 3:1.
</p>
<p>Awaiting testing and release.</p>
<h3 class="heading-small">Keyboard</h3>
<p>2.1.1 All functionality of the content is operable through a keyboard interface without requiring specific timings for individual keystrokes, except where the underlying function requires input that depends on the path of the user's movement and not just the endpoints.</p>
<p>Awaiting testing and release. </p>
<h3 class="heading-small">Link Purpose (Link Only)</h3>
<p>2.4.9 A mechanism is available to allow the purpose of each link to be identified from link text alone, except where the purpose of the link would be ambiguous to users in general.</p>
<p>Links were found that did not have an adequate description for screen reader users to determine the links action when navigating out of context.</p>
<p>Awaiting testing and release. </p>
<h3 class="heading-small">Status Messages </h3>
<p>4.1.3 In content implemented using mark-up languages, status messages can be programmatically determined through role or properties such that they can be presented to the user by assistive technologies without receiving focus.</p>
<p>Screen reader users are not informed of important information when it becomes available.</p>
<p>Awaiting testing and release. </p>
<p>We expect all issues to be corrected by 31 March 2021.</p>

<h2 class="heading-medium">Disproportionate burden</h2>

<h3 class="heading-small">PDFs and other documents</h3>
<p>
    The PDFs, PowerPoint documents and PNGs of our benchmark charts lack some accessibility as they don’t contain ‘label’ tags.
</p>
<p>
    Currently there is no way for us to add tags to these images. We do supply alternative table views of all information on the site which is fully accessible.
</p>

<h3 class="heading-small">Benchmark charts</h3>
<p>Our benchmark charts lack some accessibility as they don’t contain ‘label’ tags.</p>
<p>Currently there is no way for us to add tags to these images. We do supply alternative table views of all information on the site which is fully accessible. </p>

<h3 class="heading-small">Focus Order</h3>
<p>
    2.4.3 If a Web page can be navigated sequentially and the navigation sequences affect meaning or operation, focusable components receive focus in an order that preserves meaning and operability.
</p>
<p>
    We are unable to determine an issue with this functionality and so no changes are currently planned.
</p>

<h2 class="heading-medium">What we’re doing to improve accessibility</h2>

<p>Our accessibility improvements are a part of our project delivery. We deal with all findings as soon they are uncovered or reported to us. </p>

<p>
    In all cases we aim to do this by fixing the root problem, if this is not possible we build alternative methods that allow for accessibility.
</p>

<h2 class="heading-medium">
    Preparation of this accessibility statement
</h2>

<p>This statement was prepared on 19 February 2021</p>

<p>This website was last tested on 28 January 2021. The test was carried out by an external provider, Digital Accessibility Centre.</p>

<p>The approach we used to decide on a sample of pages to test, was to choose four common usability journeys that took on the majority of touchpoints of the service.</p>

<ol class="list list-number">
    <li>Quick comparison</li>
    <li>Detailed comparison</li>
    <li>Manual Comparison</li>
    <li>Highest progress comparison</li>
</ol>