<div id="backLink" class="govuk-breadcrumbs hide-in-print">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link home-link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link home-link" href="../../federation?fuid=@ViewBag.Fuid" aria-label="Back to @ViewBag.Name">
                @ViewBag.Name
            </a>
        </li>
    </ol>
</div>

