<div id="backLink" class="hide-in-print">
    <div>
        @{
            var link = Request.QueryString["referrer"]?? "/";

        <a class="home-link" href="@link" aria-label="Close basket">
            <i class="icon icon-back">
                <span class="visually-hidden">Close basket</span>
            </i>
            <span class="back-link">Close basket</span>
        </a>
        }
    </div>
</div>
