<div id="backLink" class="govuk-breadcrumbs hide-in-print">
    @{
        var link = Request.QueryString["referrer"] ?? "/";
        if (link.ToLower().Contains("/benchmarkcharts"))
        {
            link = "/BenchmarkCharts";
        }
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link home-link" href="@link" aria-label="Close basket">
                    <span class="back-link">Close basket</span>
                </a>
            </li>
        </ol>
    }
</div>
