<div class="govuk-breadcrumbs hide-in-print">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../school/detail?urn=@ViewBag.HomeSchoolId" aria-label="Back to @ViewBag.HomeSchoolName">
                @ViewBag.HomeSchoolName
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../BenchmarkCriteria/ComparisonStrategy?urn=@ViewBag.HomeSchoolId">
                Select compare type
            </a>
        </li>
    </ol>
</div>

