@model SFB.Web.UI.Models.SchoolViewModel

<div id="backLink" class="govuk-breadcrumbs hide-in-print">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link home-link" href="/">Home</a>
        </li>        
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link home-link" href="../../school?urn=@Model.Id" aria-label="Back to @Model.Name">
                @Model.Name
            </a>
        </li>
    </ol>
</div>

