<div id="backLink" class="hide-in-print">
    <div>
        <div class="breadcrumb-item">
            <a class="home-link" href="/">Home</a>
        </div>
        <div class="breadcrumb-item">
            <span class="forward-chevron font-medium" aria-hidden="true">&#155;</span>
            <a class="home-link" href="../../school/detail?urn=@ViewBag.HomeSchoolId" aria-label="Back to @ViewBag.HomeSchoolName">
                <span class="back-link">@ViewBag.HomeSchoolName</span>
            </a>
        </div>
        <div class="breadcrumb-item">
            <span class="forward-chevron font-medium" aria-hidden="true">&#155;</span>
            <a class="home-link" href="../../BenchmarkCriteria/ComparisonStrategy?urn=@ViewBag.HomeSchoolId" aria-label="Back to Select Compare Type step">
                <span class="back-link">Select compare type</span>
            </a>
        </div>
    </div>
</div>
