@{
    ViewBag.Title = "Schools";
    ViewBag.pageClass = "search-results";
}

@section BMListBannerContent{
    @Html.Partial("Partials/BenchmarkListBanner")    
}

@section BackButtonContent{
    @Html.Partial("Partials/BackToHomeLink")
}

<h1 class="govuk-heading-xl page-heading">Schools</h1>

<div>
    <p class="govuk-body result-info">
        We found no matches for the location you provided.
    </p>
    <p class="govuk-body">
        <a class="govuk-link" href="/">Try searching again</a>
        
        <span>using different spelling or words</span>
    </p>
</div>