@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "search-results";
}

@Html.Partial("Partials/BenchmarkListBanner")

@Html.Partial("Partials/SearchForSchoolsPanel")

<h1 class="heading-xlarge page-heading">Schools</h1>

<div>
    <p class="result-info">
        We found no matches for the school name you provided.
    </p>
    <p>
        <a href="/">Try searching again</a>
        
        <span>using different spelling or words</span>
    </p>
</div>