@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "cookies-page";
}

<h1 class="heading-xlarge page-heading">Cookies</h1>
<p>
    This service puts small files known as cookies onto your computer to collect information about how you browse the site.
</p>
<p>
    Cookies are used to:
</p>
<ul class="list">
    <li>measure what you do on the site so it can be improved </li>
    <li>remember the notifications you’ve seen so we don’t show them to you again</li>
</ul>

<p>
    Find out more about <a rel="external" href="http://www.aboutcookies.org/">how to manage cookies.</a>
</p>

<h2 class="heading-large">How cookies are used on this service</h2>
<p>
    We use Google Analytics software to collect information about how you use the site.
</p>
<p>
    Google Analytics stores information about:
</p>
<ul class="list">
    <li>the pages you visit</li>
    <li>how long you spend on each page</li>
    <li>how you got to the site</li>
    <li>what you click on while you’re visiting</li>
</ul>

<p>
    We don’t collect or store your personal information (eg your name or address) so this information can’t be used to identify who you are. And we don’t allow Google to use or share our analytics data.
</p>

<p>Google Analytics sets the following cookies:</p>

<p>
    <table>
        <thead>
        <tr>
            <th class="left">Name</th>
            <th class="left">Purpose</th>
            <th class="left">Expires</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="left">_ga</td>
            <td class="left">This helps us count how many people visit GOV.UK by tracking if you’ve visited before</td>
            <td class="left">2 years</td>
        </tr>
        <tr>
            <td class="left">_gat</td>
            <td class="left">Used to manage the rate at which page view requests are made</td>
            <td class="left">10 minutes</td>
        </tr>
        </tbody>
    </table>
</p>
<p>
    You can <a rel="external" href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies.</a>
</p>

<h2 class="heading-large">Our introductory message</h2>
<p>
    You may see a pop-up message about cookies when you first visit the site. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.
</p>

<p>
    <table>
        <thead>
        <tr>
            <th class="left">Name</th>
            <th class="left">Purpose</th>
            <th class="left">Expires</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="left">seen_cookie_message</td>
            <td class="left">Saves a message to let us know that you’ve seen our cookie message</td>
            <td class="left">1 month</td>
        </tr>
        </tbody>
    </table>
</p>

<h2 class="heading-large">Comparing schools and trusts</h2>
<p>When you select schools or trusts to benchmark (including a default), we store your choices in a cookie so you don't need to select them again during your visit.</p>
<p>
    <table>
        <thead>
        <tr>
            <th class="left">Name</th>
            <th class="left">Purpose</th>
            <th class="left">Expires</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="left">sfb_comparison_list</td>
            <td class="left">Stores your selection of schools to benchmark</td>
            <td class="left">Does not expire</td>
        </tr>
        <tr>
            <td class="left">sfb_comparison_list_mat</td>
            <td class="left">Stores your selection of trusts to benchmark</td>
            <td class="left">Does not expire</td>
        </tr>
        </tbody>
    </table>
</p>