@model SFB.Web.UI.Models.SelfAssessmentDashboardViewModel

<div class="govuk-breadcrumbs">
    <ul class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            @Html.ActionLink(
                @Model.DashboardData.Name,
                "Detail",
                "School",
                new { urn = Model.DashboardData.Urn },
                new { @class ="govuk-breadcrumbs__link" })
        </li>
    </ul>
</div>