@model SFB.Web.ApplicationCore.Models.SelfAssesmentModel

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
    
        <li class="govuk-breadcrumbs__list-item">
            @Html.ActionLink(
                @Model.Name,
                "Detail",
                "School",
                new { urn = Model.Urn },
                new { @class ="govuk-breadcrumbs__link" })
        </li>
    </ol>
</div>