@{
    ViewBag.Title = "What type of comparison would you like?";
    ViewBag.pageClass = "comparison-type-select";
}

@section BackButtonContent{
    <a class="govuk-back-link hide-in-print" href="/federation?fuid=@ViewBag.fuid">Back</a>
}

<h1 class="govuk-heading-xl page-heading">What type of comparison would you like?</h1>

<div class="grid-row columns">
    <div class="column-one-half" id="compareColumn">
        <img src="~/public/assets/images/chart.svg" class="pano blue-svg" alt="Benchmark comparison" />
        <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Benchmark comparison</h2>
        <p class="govuk-!-font-size-16 mb-05">
            Compare against similar schools or federations to yours.
        </p>
        <ul class="list-arrow">
            <li>
                <a class="govuk-link govuk-!-font-size-16" href="~/BenchmarkCriteria/StepOne?comparisonType=FederationBasic&fuid=@ViewBag.fuid">Create a benchmark comparison</a>
            </li>
        </ul>
    </div>

    <div class="column-one-half" id="saColumn">
        <img src="~/public/assets/images/checklist.svg" class="pano turq-svg" alt="Self-assessment dashboard" />
        <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Self-assessment dashboard</h2>
        <p class="govuk-!-font-size-16 mb-05">
            Formerly the SRMSAT/SFVS dashboard, see areas where your federation is looking healthy or may need to focus on.
        </p>
        <ul class="list-arrow">
            <li>
                <a class="govuk-link govuk-!-font-size-16 sfb_gtm_sad_from_Federation" href="@System.Configuration.ConfigurationManager.AppSettings["SelfAssessmentUrl"]/@ViewBag.fuid">Self-assessment dashboard</a>
            </li>
        </ul>
    </div>
</div>


