<header id="banner-header" class="banner-content__recruitment-banner" aria-label="Help develop Schools financial benchmarking banner" style="display: none">
    <div class="header-wrapper">
        <div class="header-wrapper__header-proposition">
            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Help develop Schools financial benchmarking</span>
            <a class="govuk-link" href="/help/get-involved" rel="external noopener noreferrer" target="_blank" title="Get involved form will open in a new page">Get involved in making this service better (opens in new tab)</a>
        </div>
        <div class="header-wrapper__hide-button-wrapper">
            <button class="link-button js-dismiss-recruitment-banner" href="">No thanks<span class="govuk-visually-hidden">: I do not want to help improving the service</span></button>
        </div>
    </div>
</header>