<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JWT" version="5.0.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.11.0-beta1" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.AspNet.OutputCache.OutputCacheModuleAsync" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net462" />
  <package id="Microsoft.Azure.DocumentDB" version="2.5.1" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.4" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="Notify" version="2.5.1" targetFramework="net462" />
  <package id="Pipelines.Sockets.Unofficial" version="2.0.22" targetFramework="net462" />
  <package id="RedDog.Search" version="0.5.3-pre" targetFramework="net462" />
  <package id="RestSharp" version="106.6.10" targetFramework="net462" />
  <package id="StackExchange.Redis" version="2.0.601" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0-preview7.19362.9" targetFramework="net461" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net462" />
  <package id="System.IO.Pipelines" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview7.19362.9" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net452" />
  <package id="System.Threading.Channels" version="4.5.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net462" />
</packages>