@using SFB.Web.UI.Helpers.Constants
<div class="grid-row benchmarkControlPanel">
    <div class="column-two-thirds">
        <strong class="bold-small">@Model.BenchmarkSchools.Count</strong> schools in this list
        <div class="basket-control-buttons">
            <a class="benchmarkControls" href="/SchoolSearch/AddSchools">Add schools</a>
            @if (Model.BenchmarkSchools.Count > 0)
            {
                <button class="benchmarkControls link-button no-underline font-xsmall" onclick="@( $"DfE.Views.BenchmarkListViewModel.updateBenchmarkBasket(null,'RemoveAll')")">Clear benchmark set</button>
            }
        </div>
    </div>
    @if (Model.BenchmarkSchools.Count > 1)
    {
        <div class="column-one-third">
            <a class="button view-benchmark" href="/BenchmarkCharts">View benchmarking charts</a>
        </div>
    }
</div>
