#global-cookie-message {
    background-color: #f3f2f1;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#global-cookie-message p {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: 641px) {
        font-size: 16px;
        line-height: 1.25;
    }

    @media (min-width: 40.0625em) {
        font-size: 19px;
        line-height: 1.3157894737;
    }
}

.govuk-heading-m {
    color: #0b0c0c;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1111111111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 15px;

    @media (min-width: 40.0625em) {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 1.25;
    }

    @media (min-width: 1020px) {
        .govuk-heading-m {
            margin-left: 0;
        }
    }

    @media print {
        color: #000000;
        font-family: sans-serif;
        font-size: 18pt;
        line-height: 1.15;
    }
}

@media (min-width: 1020px) {
    .govuk-width-container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}

.gem-c-cookie-banner__hide-button {
    float: right;
    display: inline-block;
    margin-top: 0;
    right: 5px;
    font-size: 1em;
}

.gem-c-cookie-banner__confirmation-message{
    display: inline;
    max-width: 960px;
}

.gem-c-cookie-banner__button {
    padding: 0;
    width: 90%;
    margin: 20px 15px;
    text-align: center;

    @include media(tablet)
    {
        margin: 10px 10px;
    }

    @include media(desktop) {
        margin: 10px 0;
        width: 50%;
    }
}

.gem-c-cookie-banner__buttons {
    font-size: 16px;
    line-height: 1.3157894737;

    .button {
        font-size: 16px;
    }

    @include media(desktop) {
        font-size: 19px;
        margin: 0px 40px 0 15px;
    }
}

.gem-c-cookie-banner__message {
    display: inline-block;
    padding-bottom: 10px;

    @include media(desktop) {
        width: 90%;
        padding: 0 15px 15px 15px;
    }
}

.gem-c-button{
   width: 100%;
   @include media(desktop){
       width: 90%;
   }
}

.gem-c-cookie-banner {
    font-size: 16px;
    line-height: 1.25;
}

