@mixin highlighting {
    .highlight {
        background-color: $pink;
        display: inline-block;
        padding: 0 5px;

        span {
            color: white;
            line-height: 1.8em;
        }

        a{
            text-decoration:none;
            &:hover{
                text-decoration: underline;
                color: white;
            }
        }
    }
}

@mixin grey-button {
    background-color: $grey-2;
    color: $black;
    -webkit-box-shadow: 0 2px 0 #7d8185;
    box-shadow: 0 2px 0 #7d8185;
}

@mixin a-button {
    background: none;
    border: none;
    color: $link-colour;
    text-decoration: none;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    @include core-16;
}