@model SFB.Web.UI.Models.TrustCharacteristicsViewModel

@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Find and compare trusts";
    ViewBag.pageClass = "trust-comparison";
}

@section BackButtonContent{
    <a class="govuk-back-link hide-in-print" href="/trustcomparison/SelectType?companyNo=@Model.BenchmarkTrust.CompanyNo&matName=@Model.BenchmarkTrust.Name">Back</a>
}

<div id="ErrorSummaryPlaceHolder"></div>

<h1 class="govuk-heading-xl page-heading">Select the trust characteristics</h1>

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full">
        <span class="govuk-body-s govuk-!-font-size-16">Comparing to</span>
        <div class="highlight">
            <a href="/trust/detail?companyNo=@Model.BenchmarkTrust.CompanyNo"><span class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-bold">@Model.BenchmarkTrust.Name</span></a>
        </div>
    </div>
</div>

<p class="govuk-body mt-2">
    Please refine your search to <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">20</span> trusts, a meaningful benchmark set contains around <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">5</span> trusts.
</p>

<div class="sticky-div">
    <div id="liveCountBar" class="live-count-bar">
        <div class="govuk-grid-row">
            <div class=" govuk-grid-column-full">
                <div id="comparisonListInfoPanelResults" class="trust-match-info govuk-body-s">
                    <span id="schoolCount" aria-live="assertive">
                        <img style="vertical-align:bottom; height: 25px" src="../public/assets/images/spinner.gif" alt="Loading" />
                        <span class="govuk-body-s" style="margin-left: 10px; color: black">Searching</span>
                    </span>
                    <span> (max. 20)</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full">
        <form method="post" id="criteriaForm" action="GenerateListFromAdvancedCriteria?companyNo=@Model.BenchmarkTrust.CompanyNo&comparison=Advanced" autocomplete="off" class="mt-1">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden">Select trust characteristics</legend>
                    @Html.AntiForgeryToken()
                    @Html.Partial("Partials/TrustCharacteristics", Model)
                    <div class="advanced control-buttons">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <div class="govuk-button-group">
                                        <button id="sbmt_button" onclick="DfE.Views.TrustCompareAdvancedViewModel.onSubmit(event)" class="govuk-button view-benchmark-charts submit">View benchmarking charts</button>
                                        <a href="javascript: DfE.Views.TrustCompareAdvancedViewModel.onClear(event)" class="govuk-link clear-criteria js-clear-criteria">Clear characteristics</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>

@section ViewScripts {

    <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        DfE.Views.TrustCompareAdvancedViewModel = new TrustCompareAdvancedViewModel();
    </script>
}

