@model SFB.Web.UI.Models.TrustCharacteristicsViewModel

@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Find and compare trusts";
    ViewBag.pageClass = "trust-comparison";
}

<div class="error-summary required" role="alert" aria-labelledby="ErrorSummaryHeading" style="display: none">
    <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
        There is a problem
    </h1>
    <ul class="error-summary-list">
        <li>
            <a href="#SelectTrustAccordion">Select an option to continue the comparison</a>
        </li>
    </ul>
</div>

<div class="error-summary missing" role="alert" aria-labelledby="ErrorSummaryHeading" style="display: none">
    <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
        There is a problem
    </h1>
    <ul class="error-summary-list">
        <li>
            <a href="#NewTrustName">Enter a trust name to continue the comparison</a>
        </li>
    </ul>
</div>

<div class="error-summary not-found" role="alert" aria-labelledby="ErrorSummaryHeading" style="display: none">
    <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
        There is a problem
    </h1>
    <ul class="error-summary-list">
        <li>
            <a href="#NewTrustName">We couldn't find any trusts matching your search criteria</a>
        </li>
    </ul>
</div>

@section BMListBannerContent
{
    <div class="banner sticky-div">
        <div id="liveCountBar" role="region" aria-label="Trust results live counter" style="display: none">
            <div class="grid-row">
                <div class="column-full">
                    <div class="banner__comparison-list-info-panel" id="comparisonListInfoPanelResults">
                        <span id="schoolCount" class="bold-small" aria-live="assertive">0 trusts found</span>
                        <a class="banner__comparison-list-info-panel__clear-criteria js-clear-criteria" href="#">Clear all characteristics</a>
                        <div class="view-benchmark-charts-wrapper">
                            <button type="submit" class="button view-benchmark-charts submit">Continue to benchmarking charts</button>
                        </div>
                    </div>
                    <div class="banner__comparison-list-info-panel" id="comparisonListInfoPanelResultsEmpty" style="display: none">
                        <span role="alert" aria-live="assertive">No trusts found, select some more characteristics</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section BackButtonContent{
    <a class="govuk-back-link hide-in-print" href="/trust/index?companyNo=@Model.BenchmarkTrust.CompanyNo">Back</a>
}

<div id="ErrorSummaryPlaceHolder"></div>

<h1 class="heading-xlarge page-heading">Find and compare trusts</h1>

<div class="grid-row">
    <div class="column-full">
        <span class="font-xsmall">Comparing to</span>
        <div class="highlight">
            <span class="bold-small">@Model.BenchmarkTrust.Name</span>
        </div>
    </div>
</div>

<p>
    <h2 class="bold-small">How would you like to do your comparison? Select characteristics to find similar trusts or enter trust(s) manually.</h2>
</p>

<p>
    A meaningful benchmark group has around 5 trusts, and the largest group we can display charts for is 20. Keep this range in mind when selecting characteristics. If there are too many matches, revise the values entered for your characteristics.
</p>


<div id="SelectTrustAccordion" class="search-types column-three-quarters no-padding" aria-live="polite">

    <div id="EnterManuallyAccordion" class="multiple-choice js-accordion column-full" aria-controls="EnterManuallyFieldset">
        <input id="EnterManually" type="radio" />
        <label id="EnterTrustManuallyAccordion" for="EnterManually">Enter one or more trusts for comparison</label>
    </div>
    <div id="EnterManuallyFieldset" class="form-group panel panel-border-narrow pb-0">
        <div id="TrustsToCompare">
            @Html.Partial("Partials/TrustsToCompare", Model.TrustComparisonList.Trusts.Where(t => t.CompanyNo != Model.BenchmarkTrust.CompanyNo).ToList())
        </div>
    </div>

    <div id="EnterCharsAccordion" class="multiple-choice js-accordion column-full" aria-controls="EnterCharsFieldset">
        <input id="EnterChars" type="radio" />
        <label id="EnterTrustCharsAccordion" for="EnterChars">Select characteristics</label>
    </div>
    <div id="EnterCharsFieldset" class="form-group panel panel-border-narrow pb-0">
        <form method="post" id="criteriaForm" action="TrustComparison/GenerateListFromManualCriteria" autocomplete="off">
            @Html.AntiForgeryToken()
            @Html.Partial("Partials/TrustCharacteristics", Model)
        </form>
        <div class="column-full clear-bottom">
            <button class="clear-criteria js-clear-criteria link-button font-xsmall">Clear all characteristics</button>
        </div>
    </div>

</div>


<div class="control-buttons">
    <div class="grid-row">
        <div class="column-three-quarters">
            <div class="column-half pl-0">
                <a id="manualButton" class="button" href="BenchmarkCharts/Mats">Continue to benchmarking charts</a>
                <button type="submit" class="button view-benchmark-charts submit" style="display: none">Continue to benchmarking charts</button>
            </div>
            <div class="column-half no-padding">
                <div class="back-button">
                    <button id="removeAllTrusts" class="link-button font-small">Remove all trusts</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section ViewScripts {

    <script src="~/node_modules/corejs-typeahead/dist/typeahead.bundle.min.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        DfE.Views.TrustCompareViewModel = new TrustCompareViewModel();
    </script>
}
