@model SFB.Web.UI.Models.TrustSelectionViewModel

@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Enter trusts by name";
    ViewBag.pageClass = "trust-comparison";
}


<div class="govuk-error-summary missing" role="alert" style="display: none">
    <h2 id="ErrorSummaryHeading1" class="govuk-error-summary__title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <a href="#NewTrustName">Enter a trust name to continue the comparison</a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-error-summary not-found" role="alert" style="display: none">
    <h1 id="ErrorSummaryHeading2" class="govuk-error-summary__title">
        There is a problem
    </h1>
    <ul class="govuk-list govuk-error-summary__list">
        <li>
            <a href="#NewTrustName">We couldn't find any trusts matching your search criteria</a>
        </li>
    </ul>
</div>


@section BackButtonContent{
    <a class="govuk-back-link hide-in-print" href="/trustcomparison/SelectType?companyNo=@Model.BenchmarkTrust.CompanyNo&matName=@Model.BenchmarkTrust.Name">Back</a>
}

<div id="ErrorSummaryPlaceHolder"></div>

<h1 class="govuk-heading-xl page-heading">Enter trusts by name</h1>

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full">
        <span class="govuk-body-s govuk-!-font-size-16">Comparing to</span>
        <div class="highlight">
            <a href="/trust/detail?companyNo=@Model.BenchmarkTrust.CompanyNo"><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">@Model.BenchmarkTrust.Name</span></a>
        </div>
    </div>
</div>

<div id="TrustsToCompare">
    @Html.Partial("Partials/TrustsToCompare", Model.TrustComparisonList.Trusts.Where(t => t.CompanyNo != Model.BenchmarkTrust.CompanyNo).ToList())
</div>

<div class="control-buttons">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-grid-column-one-half pl-0">
                <button id="manualButton" class="govuk-button" data-module="govuk-button" onclick="window.open('../BenchmarkCharts/Mats?comparison=Manual', '_self')">View benchmarking charts</button>                
            </div>
            @*<div class="govuk-grid-column-one-half no-padding">
                <div class="back-button">
                    <button id="removeAllTrusts" class="link-button govuk-!-font-size-19">Remove all trusts</button>
                </div>
            </div>*@
        </div>
    </div>
</div>

@section ViewScripts {

    <script src="~/node_modules/corejs-typeahead/dist/typeahead.bundle.min.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        DfE.Views.TrustCompareViewModel = new TrustCompareManualViewModel();
    </script>
}
