@model List<string>

<div class="column-half chart-filter">
    <div class="form-group">
        <label class="form-label" for="Year">Year</label>
        <select name="Year" id="Year" class="form-control" onchange="DfE.Views.HistoricalCharts.RebuildCharts('trust')">
            @foreach (var year in Model)
            {
                <option value="@year">@year</option>
            }
        </select>
    </div>
</div>
