$ofsted-red: #b10e1e;
$ofsted-amber: #f47738;
$ofsted-blue: $govuk-brand-colour;
$ofsted-green: #006435;

.ofsted-rating--container {
  display: flex;
  justify-content: space-between;
  min-width: 510px;
  
  @include govuk-media-query($until: tablet) {
    min-width: auto;
  }
}

.ofsted-rating__detail {
  width: 80%;
}

.ofsted-rating--score {
  display: inline-block;
}

.ofsted-rating--text {
  display: inline-block;
}

.ofsted-rating--report-link {
  display: inline-block;
  padding: 0 govuk-spacing(2);
  position: relative;

  &::before {
    content: "|";
    display: inline;
    position: absolute;
    left: 2px;
  }
  
  &::after {
    content: "|";
    display: inline;
    position: absolute;
    right: 2px;
  }
}

.ofsted-rating {
  display: inline-block;
  width: 1.4em;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  color: govuk-colour('white');
  margin-right: govuk-spacing(1);
}

.ofsted-rating-1 {
  background-color: $ofsted-green;
}

.ofsted-rating-2 {
  background-color: $ofsted-blue;
}

.ofsted-rating-3 {
  background-color: $ofsted-amber;
  color: govuk-colour('black');
}

.ofsted-rating-4 {
  background-color: $ofsted-red;
}

.ofsted-rating-0 {
  background-color: #1d70b8;
  width: auto;
  font-weight: normal;
  padding: 0 5px;
}

.rating-unknown {
  background-color: govuk-colour('white');
  border: 2px solid govuk-colour('black');
}
