<div class="banner hide-in-print" id="benchmarkBasket" role="region" aria-label="Benchmark set">
    @if (Model.ComparisonListCount >= 1)
    {
        <div class="govuk-grid-row">
            <div class=" govuk-grid-column-full">
                <div class="banner__comparison-list-info-panel">
                    @if (((RazorView)ViewContext.View).ViewPath.Contains("BenchmarkCharts"))
                    {
                        <span class="message">Showing the <span class="banner__comparison-list-info-panel__count">@Model.ComparisonListCount schools</span> in your benchmark set</span>
                    }
                    else
                    {
                        <span class="message">Your benchmark set contains <span class="banner__comparison-list-info-panel__count">@Model.ComparisonListCount schools</span></span>
                    }

                    @{
                        var referrer = Request.IsAjaxRequest() ? Request.UrlReferrer.ToString() : Request.RawUrl;
                    }
                    <a class="banner__comparison-list-info-panel__edit-basket" href="/benchmarklist?referrer=@System.Web.HttpUtility.UrlEncode(referrer)">Edit benchmark set</a>

                    @if (!((RazorView)ViewContext.View).ViewPath.ToLower().Contains("benchmarkcharts") && Model.ComparisonListCount >= 2)
                    {
                        <div class="view-benchmark-charts-wrapper">
                            <button class="govuk-button govuk-!-margin-bottom-0" data-module="button" onclick="javascript: window.open('/BenchmarkCharts', '_self');">View benchmark charts</button>
                        </div>
                    }
                    else
                    {
                        <a href="/schoolsearch/addschools" class="govuk-link add-schools">
                            <img class="icon mag-icon" src="~/public/assets/images/icons/find.svg" alt="Add another school name or location" />
                            <span>Add another school by name or location</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>
