<div class="sticky-div hide-in-print" id="benchmarkBasket" role="region" aria-label="Benchmark Basket">
    <div class="grid-row">
        <div class="column-full">
            <div class="comparisonListInfoPanel">
                Your benchmark basket contains <span class="count">@Model.ComparisonListCount schools</span>
                @if (Model.ComparisonListCount >= 1)
                {
                    <a class="edit-basket" href="/benchmarklist">Edit basket</a>
                    <a class="edit-basket" href="javascript:void(0)" onclick="DfE.Sfb.BenchmarkBasket.ClearBenchmarkBasket()">Clear basket</a>
                } 
                @if (!((RazorView)ViewContext.View).ViewPath.Contains("BenchmarkCharts") && Model.ComparisonListCount >= 2)
                {
                    <div class="view-benchmark-charts-wrapper">
                        <a class="button" href="/BenchmarkCharts">View benchmark charts</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>