<div class="banner hide-in-print" id="benchmarkBasket" role="region" aria-label="Benchmark Basket">
    @if (Model.ComparisonListCount >= 1)
    {
        <div class="grid-row">
            <div class="column-full">
                <div class="banner__comparison-list-info-panel">
                    Your benchmark basket contains <span class="banner__comparison-list-info-panel__count">@Model.ComparisonListCount schools</span>

                    @{
                        var referrer = Request.IsAjaxRequest() ? Request.UrlReferrer.ToString() : Request.RawUrl;
                        if (referrer.Contains("BenchmarkCharts/"))
                        {
                            referrer = "/BenchmarkCharts";
                        }
                    }
                    <a class="banner__comparison-list-info-panel__edit-basket" href="/benchmarklist?referrer=@Html.Raw(referrer)">Edit basket</a>

                    @if (!((RazorView)ViewContext.View).ViewPath.Contains("BenchmarkCharts") && Model.ComparisonListCount >= 2)
                    {
                        <div class="view-benchmark-charts-wrapper">
                            <a class="button" href="/BenchmarkCharts">View benchmark charts</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
