<div class="sfb-dashboard-panel">
    <h3 class="govuk-heading-m">
        Resources for improved financial efficiency
    </h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h4 class="govuk-heading-s">
                The School resource management collection helps ensure that every pound counts
            </h4>
        </div>
        <div class="govuk-grid-column-one-half">
            <p class="govuk-body-m">The tools and links in the collection are for school leaders, school business professionals, staff and governing bodies in maintained schools, academies, and free schools, as well as local authorities. They help improve outcomes for pupils by getting the best value from school resources.</p>
        </div>
        <div class="govuk-grid-column-one-half">
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link sfb_gtm_panel_next_steps sfb_gtm_panel_next_steps_fsrmc" target="_blank" title="Link will open in a new page" rel="external noopener noreferrer" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency">Full school resource management collection</a>
                </li>
                <li>
                    <a class="govuk-link sfb_gtm_panel_next_steps sfb_gtm_panel_next_steps_pmyw" target="_blank" title="Link will open in a new page" rel="external noopener noreferrer" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#school-workforce">Plan and manage your workforce</a>
                </li>
                <li>
                    <a class="govuk-link sfb_gtm_panel_next_steps sfb_gtm_panel_next_steps_atfnc" target="_blank" title="Link will open in a new page" rel="external noopener noreferrer" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#non-staff-costs">Advice and tools for non-staff costs</a>
                </li>
                <li>
                    <a class="govuk-link sfb_gtm_panel_next_steps sfb_gtm_panel_next_steps_sbpg" target="_blank" title="Link will open in a new page" rel="external noopener noreferrer" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#school-business-professionals">School business professionals guidance</a>
                </li>
                <li>
                    <a class="govuk-link sfb_gtm_panel_next_steps sfb_gtm_panel_next_steps_gfg" target="_blank" title="Link will open in a new page" rel="external noopener noreferrer" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#guidance-for-governors">Guidance for governors</a>
                </li>

            </ul>
        </div>
    </div>
</div>