<h3 class="govuk-heading-m">
    A quick comparison of this school’s expenditure against similar schools
</h3>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        Characteristics
        <div id="benchmarkChartsList"></div>
    </div>
</div>
