@using System.Configuration

<div class="sfb-dashboard-panel">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">
                Related resources and services
            </h3>
            <h4 class="govuk-heading-s">
                Resources and services that complement the data shown on Schools financial benchmarking.
            </h4>
        </div>
        <div class="govuk-grid-column-full">
            <p>
                <a href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency" target="_blank">
                    School resource management collection
                </a>
                <br/>
                This collection helps improve outcomes for pupils by getting the best value from school resources. 
                We have produced a
                <a href="https://youtu.be/YJ3AmjT_jLk" target="_blank">short video</a> 
                to explain how schools can maximise the impact on pupil outcomes. 
            </p>
            <p>
                <a href="https://explore-education-statistics.service.gov.uk/" target="_blank">Explore education statistics</a>
                <br/>
                Browse education statistical summaries, create tables and download data sets.
            </p>

            <p>
                <a href="@ConfigurationManager.AppSettings["SptApiUrl"]" target="_blank">Find school and college performance data in England'</a>
                <br/>
                Search and check the performance of primary, secondary and special needs schools and colleges.
            </p>

            <p>
                <a href="@ConfigurationManager.AppSettings["GiasApiUrl"]" target="_blank">Get information about schools</a>
                <br/>
                Find and download information about schools, colleges, educational organisations and governors in England.
            </p>

            <p>
                <a href="https://www.gov.uk/government/organisations/department-for-education/about/statistics" target="_blank">Statistics at DfE</a>
                <br/>
                View how and when the Department for Education publishes official statistics on education and children.
            </p>
        </div>
    </div>
</div>