// Breadcrumbs
// ==========================================================================

// GOV.UK front end toolkit dependencies
@import "design-patterns/breadcrumbs";

.breadcrumbs {
  @include breadcrumbs;
}

//GOVUK Design system
.govuk-breadcrumbs__list {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.govuk-breadcrumbs__list:after {
    content: "";
    display: block;
    clear: both
}

.govuk-breadcrumbs__list-item {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 15.655px;
    float: left
}

.govuk-breadcrumbs__list-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3.31px;
    width: 7px;
    height: 7px;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f
}

.govuk-breadcrumbs__list-item:first-child {
    margin-left: 0;
    padding-left: 0
}

.govuk-breadcrumbs__list-item:first-child:before {
    content: none;
    display: none
}

.govuk-breadcrumbs__link {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media print {
    .govuk-breadcrumbs__link {
        font-family: sans-serif
    }
}

.govuk-breadcrumbs__link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none
}

.govuk-breadcrumbs__link:link, .govuk-breadcrumbs__link:visited, .govuk-breadcrumbs__link:hover, .govuk-breadcrumbs__link:active, .govuk-breadcrumbs__link:focus {
    color: #0b0c0c
}

@media print {
    .govuk-breadcrumbs__link:link, .govuk-breadcrumbs__link:visited, .govuk-breadcrumbs__link:hover, .govuk-breadcrumbs__link:active, .govuk-breadcrumbs__link:focus {
        color: #000
    }
}

@media (max-width: 40.0525em) {
    .govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list-item {
        display: none
    }

    .govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list-item:first-child, .govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list-item:last-child {
        display: inline-block
    }

    .govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list-item:before {
        top: 6px;
        margin: 0
    }

    .govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}