/*doc
---
title: Pagination
name: pagination
category: Components
---
```html_example
<h4 class="styleguide">Pagination Example</h4>
<div class="grid-row pagination-container">
  <div class="column-half">
    <span class="bold-small">
      Showing 71 to 75 of 120 schools
    </span>
  </div>
  <div class="column-half text-align-right">
    <ul class="pagination">
      <li>
        <a href="#">Previous</a>
      </li>
      <li>
        <a href="#">71</a>
      </li>
      <li>
        <a href="#">72</a>
      </li>
      <li class="active">
        <a href="#">73</a>
      </li>
      <li>
        <a href="#">74</a>
      </li>
      <li>
        <a href="#">75</a>
      </li>
      <li>
        <a href="#">Next</a>
      </li>
    </ul>
  </div>
</div>
```
*/

.pagination-container {
    padding: $gutter-half 0;

    .pagination-page-link {
        padding-right: 4px;
        padding-left: 4px;

        @include media(mobile) {
            padding-right: 8px;
            padding-left: 8px;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    .pagination-links {
        @include media(desktop) {
            text-align: right;
        }

        @include media(tablet) {
            float: right;
        }

        @include media(mobile) {
            display: block;
            margin-top: 10px;
        }

        .next-page {
            float: right;

            a {
                float: right;
            }
        }

        .previous-page {
            float: left;

            a {
                float: left;
            }
        }
    }

    li.pagination-previous a, li.pagination-next a {
        @include media(mobile) {
            padding-left: 0;
        }
    }

    .pagination {
        display: inline-block;
        margin: 0;

        > li {
            display: inline; // Remove list-style and block-level defaults
            > a,
            > span {
                @include core-19;
                position: relative;
                float: left; // Collapse white-space
                padding: 0 $gutter/8;
                text-decoration: none;
                border: none;
                text-decoration: underline;

                @include media(mobile) {
                    padding-left: 0;
                }
            }

            &:first-child {
                > a,
                > span {
                    margin-left: 0;
                }
            }
            /*&:last-child {
        > a,
        > span {
        }
      }*/
        }

        > li > a,
        > li > span {
            &:hover,
            &:focus {
                z-index: 3;
            }
        }

        > .active > a,
        > .active > span {
            &,
            &:hover,
            &:focus {
                z-index: 2;
                color: black;
                cursor: default;
                text-decoration: none;
            }
        }
        /*> .disabled {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus {
        color: $pagination-disabled-color;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border;
        cursor: $cursor-disabled;
      }
    }*/
        > .pagination-index {
            display: none;

            @include media(desktop) {
                display: inline;
            }
        }
    }

    .pub-c-pagination__link-title {
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 20px;
        line-height: 1.1111111111;
        display: block;

        @media (min-width: 641px) {
            font-size: 27px;
            line-height: 1.25;
        }
    }

    .pub-c-pagination__link {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .pub-c-pagination__link:visited {
        color: #1D70B8;
    }

    .pub-c-pagination__link-label {
        display: inline-block;
        margin-top: 0.1em;
        text-decoration: underline;
    }

    .pub-c-pagination__item {
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 14px;
        line-height: 1.1428571429;
        float: left;
        list-style: none;
        text-align: right;
        margin: 0;
        padding: 0;
        width: 50%;

        @media (min-width: 641px) {
            font-size: 16px;
            line-height: 1.25;
        }
    }

    .pub-c-pagination__item--previous {
        float: left;
        text-align: left;
    }

    .pub-c-pagination__link:hover, .pub-c-pagination__link:active {
        background-color: #f8f8f8;
    }
}
