
$tabheight:40px;

.custom.tabs {
    background-color: white;
    z-index: 1000;

    ul {
        margin-top: 14px;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;

        @include media(desktop) {
            border-bottom: 1px solid $grey-2;
        }

        li {
            font-family: "nta",Arial,sans-serif;
            font-size: 16px;
            line-height: 1.25;
            text-transform: none;
            border: 3px solid $white;
            list-style: none;
            cursor: pointer;
            height: $tabheight;
            text-align: center;

            @include media-down(tablet) {
                line-height: 1.1428571429;
            }

            @include media(mobile) {
                button, a {
                    font-size: 14px;
                }
            }

            &:hover {
                text-decoration: underline;
                background-color: $grey-3;
            }

            &.active {
                background-color: $white;
                cursor: default;

                @include media-down(tablet) {
                    background-color: $grey-3;
                }

                @include media(desktop) {
                    margin: -1px 3px 0 -2px;
                }

                &:hover {
                    text-decoration: none;
                }

                button, a {
                    color: $black;
                    border: 1px solid $border-colour;
                    margin: 0 0 -2px -1px;
                    display: block;
                    text-decoration: none;

                    @include media-down(tablet) {
                        border-color: $grey-1;
                    }

                    @include media(desktop) {
                        background-color: $white;
                        border-bottom-width: 0;
                        margin-right: -4px;
                        margin-bottom: -2px;
                        height: $tabheight + 5;
                    }
                }
            }

            button, a {
                border: 1px solid transparent;
                text-decoration: underline;
                display: block;
                height: $tabheight;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px 23px 0 23px;
                white-space: nowrap;

                @include media-down(tablet) {
                    padding: 10px 10px 0 10px;
                }
                /*&:focus {                    
                    outline: none;
                }*/
            }

            &.one-line button, &.one-line a 
            {
                padding-top: 20px;
            }
        }

        &:after {
            display: block;
            clear: left;
            content: ' ';
        }
    }
}