@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "search-results";
}

@section BMListBannerContent
{
    @Html.Partial("Partials/BenchmarkListBanner")
}

@section BackButtonContent{
    
    @Html.Partial("Partials/BackToHomeLink")
}

<h1 class="heading-xlarge page-heading">Local authorities</h1>

<div class="grid-row js-live-search-results-block">
    @Html.Partial("Partials/ResultBlock")
</div>


