@model SFB.Web.UI.Models.SchoolViewModel
@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "error_page";
}

<h1 class="heading-xlarge page-heading">Sorry, something's gone wrong</h1>

<p>Please reload the page and try again.</p>


