@model SFB.Web.UI.Models.SchoolViewModel
@{
    ViewBag.Title = "Sorry, something's gone wrong";
    ViewBag.pageClass = "error_page";
    //Response.StatusCode = 500;
}

<h1 class="govuk-heading-xl page-heading">Sorry, something's gone wrong</h1>

<p>Please go to <a class="govuk-link" href="/">home page</a> and try again.</p>


