@model SFB.Web.UI.Models.SchoolViewModel
@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "error_page";
    Response.StatusCode = 500;
}

<h1 class="heading-xlarge page-heading">Sorry, something's gone wrong</h1>

<p>Please go to <a href="/">home page</a> and try again.</p>


