@model SFB.Web.UI.Models.SchoolViewModel
@{
    ViewBag.Title = "Page not found";
    ViewBag.pageClass = "error_page";
    //Response.StatusCode = 404;
}

<h1 class="govuk-heading-xl page-heading">Page not found</h1>

<p class="govuk-body">If you entered a web address, please check it was correct.</p>    

<p class="govuk-body">You can also <a class="govuk-link" href="http://www.gov.uk/search">search GOV.UK</a> or <a href="http://www.gov.uk" >browse from the homepage</a> to find the information you need.</p> 
