.advanced-school-characteristics {

    .section {
        margin-top: 30px;
    }

    @include highlighting;

    .center-text {
        text-align: center;
    }

    .benchmark-school-value {
        margin-left: 15px;
        margin-bottom: 10px;
        color: $grey-1;
    }

    .remove-button {
        padding-top: 6%;
    }

    .form-control {
        width: 100%;
    }

    .char-list {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .input-html .column-half {
        padding-left: 0;
    }

    .validation-summary-errors {
        @include bold-19();
        color: $red;
    }

    .form-control.error {
        -moz-box-shadow: none;
        border: 4px solid $red;
    }

    .error-message label {
        display: block;
    }

    .chkbox {
        position: relative;
        top: 31px;
        cursor: pointer;
        margin: 0;
        width: 29px;
        height: 29px;

        @include ie(8) {
            top: 12px;
        }
    }

    .link {
        margin-top: 9px;
    }

    .input-html {
        .form-group {
            margin-bottom: 0;
        }
    }

    form .criteria-questions {
        margin-bottom: 10px;
    }

    .error-message label {
        border: none;
        margin-left: 15px;
    }

    .button-set {
        margin-top: 30px;
    }

    details {
        padding-top: 15px;
        padding-bottom: 5px;
        border-top: 2px solid $grey-2;

        summary {
            font-weight: bold;
        }

        .content {
            padding-top: 15px;
        }
    }

    .accordion {
        .multiple-choice {
            float: none;

            input {
                float: none;
            }

            label {
                float: none;
            }
        }
    }

    .criteria-controls {
        display: inline-block;
    }

    .criteria-controls-wrapper {
        display: inline-block;
        top: 10px;
        position: relative;

        @include media(mobile) {
            margin-top: 5px;
        }
    }

    .question .panel .form-group .column-half:last-child {
        @include media(mobile) {
            margin-top: 13px;
        }
    }

    .school-match-info {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 12px 0 10px 0;
        background-color: $page-colour;
    }

    .accordion-section.general {
        border-top: none;
    }

    .accordion.with-js .accordion-section:last-child {
        border-bottom: 1px solid;
    }

    .accordion.with-js {
        border-bottom: none;
    }
}
