.benchmarking-charts {

    @include highlighting;

    .c3-text {
        fill: $black !important;
    }

    .england-average-bar {
        fill: $grey-2 !important;
    }

    .england-average-tick {
        font-weight: bold;
    }

    .highlight-field {
        background-color: $pink;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
    }

    .chartsSection {
        .chartContainer {
            .chart-header {
                margin-top: 1.5em;
            }

            h2 {
                margin-top: 1em;
            }

            h2.inline {
                display: inline;
            }

            a.inline {
                display: inline;
                margin-left: 25px;

                @include media(mobile) {
                    display: block;
                    margin-left: 0;
                    margin-bottom: 5px;
                }
            }

            .accordion-section-header h2 {
                margin-top: 0;
            }

            &.column-full {
                @include media(mobile) {
                    padding: 0;
                }
            }
        }

        .chart {
            margin-top: 20px;
            margin-bottom: 20px;

            .c3-axis-x g.tick text tspan {
                fill: #005ea5;
                cursor: pointer;
            }
        }

        .accordion-controls {
            display: none;
        }
    }

    .chart-accordion-header {
        display: inline;
    }

    .chart-border {
        border-top: solid 5px;
        border-color: $govuk-blue;
        padding-top: 15px;
    }

    table.tablesorter {
        .school-column {
            text-align: left;
        }

        thead tr th {
            @include core-16;
            text-align: right;
            color: $govuk-blue;
        }

        tbody tr td {
            @include core-16;
            text-align: right;

            a {
                text-decoration: none;
            }
        }
    }

    .criteria-details {
        margin-top: 10px;
        margin-bottom: 10px;

        table {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    table.tablesorter.chart-table {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    table.tablesorter.chart-table th, table.tablesorter.context-table th {
        color: $text-colour;
        //white-space: nowrap;
        @include bold-16();

        a {
            text-decoration: none;
        }
    }

    table a.hide-show-button.hide {
        float: right;
    }

    table a.hide-show-button.show {
        @include media(tablet) {
            margin-right: 30px;
        }
    }

    a.view-charts-tables {
        float: right;
        margin-bottom: 20px;
    }
    /* table sorter */
    table.tablesorter thead tr .header {
        //background-image: url(/public/assets/images/bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
    }

    table.tablesorter thead tr .header:hover {
        text-decoration: underline;
    }

    table.tablesorter thead tr .headerSortUp {
        background-image: url(/public/assets/images/asc.gif);
        font-weight: bold;
    }

    table.tablesorter thead tr .headerSortDown {
        background-image: url(/public/assets/images/desc.gif);
        font-weight: bold;
    }
    /* table sorter */
    .panel.criteria-detail {
        @include media(mobile) {
            border: none;
            padding: 0;
        }
    }

    .download {
        img {
            vertical-align: middle;
        }

        margin-top: 10px;
        margin-bottom: 10px;
    }

    .not-bold {
        font-weight: normal;
    }

    .selection-filters {
        padding-top: 20px;

        .form-control {
            @include media(tablet) {
                width: 80%;
            }
        }
    }

    .selection-controls {
        padding-top: 30px;

        @include media(desktop) {
            padding-bottom: 120px;
        }

        .clear-link {
            padding-top: 8px;

            @include media(desktop) {
                padding-left: 0;
            }

            cursor: pointer;
            color: $link-colour;
        }
    }

    .selections {
        padding-top: 60px;
    }

    details.selection-details {
        padding-top: 10px;

        @include media(desktop) {
            border-bottom: 2px solid $grey-2;
        }

        &.hide-borders {
            padding-top: 0;
            border-bottom: none;
        }
    }

    .search-results {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .chart-selection {
        padding-top: 5px;
        padding-bottom: 50px;
        clear: left;

        @include media(desktop) {

            .multiple-choice-header {
                display: inline;
                float: left;
            }

            .multiple-choices {
                display: inline;
                float: left;
            }

            .multiple-choice {
                display: inline;
                float: none;
                padding: 0;
                left: 6px;
                top: -1px;

                [type=checkbox] + label::before {
                    content: "";
                    border: 2px solid;
                    background: transparent;
                    width: 25px;
                    height: 25px;
                    position: relative;
                    top: -4px;
                    left: 15px;
                    float: left;
                }

                [type=checkbox] + label::after {
                    float: left;
                    position: relative;
                    left: -10px;
                    top: 2px;
                }

                label {
                    font-size: 16px;
                    padding: 0;
                    padding-top: 10px;
                }
            }
        }

        hr.tablet-divider {
            clear: left;

            @include media(desktop) {
                display: none;
            }
        }

        .add-remove-links {
            margin-top: 1.5em;

            a {
                @include core-16;
                float: right
            }

            &.table {
                margin-top: 0;
            }
        }
    }

    summary.hide-summary {
        display: none;
    }

    div.show-details {
        display: block;
    }

    .customAdd, .customRemove {
        @include media(tablet) {
            float: right;
        }
    }

    .save-as-image {
        @include media(tablet) {
            float: right;
        }
    }

    .customActions {
        padding-left: 0;

        a {
            text-decoration: none;
        }

        @include media(tablet) {
            margin-top: 1.5em;

            a {
                padding-left: 10px;
            }
            /*div {
                float: right;
            }*/
        }

        @media (max-width: 769px) {
            padding-bottom: 15px;
            display: inline-block;
            width: 100%;
            margin-top: 0;

            div, a {
                width: 100%;
                float: left;
                padding-left: 0;
            }
        }
    }
}

#footer {
    border-top: 10px solid $govuk-blue;
}

.full-page-width-wrapper {
    max-width: 960px;
    margin-left:auto;
    margin-right: auto;
}

.improve-this-page__prompt {
    background-color: $govuk-blue;
    color: #fff;
    padding: 10px 15px 0;

    a {
        color: #fff;

        &:hover, &:visited {
            color: #fff;
        }

        &:after {
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
        }
    }
}

table.bmc-rollover-table {
    background-color: $page-colour;

    td, th {
        @include core-16;
        border: 1px solid $grey-2;
        padding: 8px;

        &.bold {
            font-weight: bold;
        }
    }

    th {
        background-color: $grey-3;

        &.highlighted {
            background-color: $pink;
            font-weight: bold;
            color: white;
        }
    }
}

.include-context-table{
    padding-top:25px;
}
