.employee-details {
    .employee-details-list li strong {
        font-weight: bold;
    }

    .side-menu {
        @include media(mobile) {
            display: none;
        }
    }

    .selector-menu {
        @include media(desktop, tablet) {
            display: none;
        }
    }

    .selector-menu-options {
        text-align: center;
    }

    .ofsted .column-quarter, .ofsted .column-three-quarters {
        @include media(mobile) {
            display: inline-block;
            vertical-align: top;
        }
    }

    .stats-left .column-quarter {
        @include media(mobile) {
            display: inline-block;
            width: 45%;
        }
    }

    .stats-right .column-quarter {
        @include media(mobile) {
            display: inline-block;
            width: 45%;
        }
    }

    .ofsted-rating {
        margin-top: 35px;
    }

    .main-stats-label {
        margin-bottom: 0;
    }

    .main-stats-value {
        font-weight: bold;
    }

    .summary {
        margin-bottom: 40px;
    }

    .urn {
        font-weight: normal;
    }

    .tab {
        border-style: solid;
        border-color: black;
        border-width: 0 1px 1px 1px;
        padding: 15px 10px;

        .last {
            border-bottom: 1px solid black;
        }
    }

    .outer {
        @include media(desktop, tablet) {
            border-top: 1px solid black;
            border-right: 1px solid black;
        }

        margin-top: 45px;
    }

    .tab-content {
        border: 1px solid black;
        margin: 15px;
        min-height: 400px;
    }

    .content-column {
        padding-left: 0 !important;
        margin-left: -1px;

        @include media(desktop, tablet) {
            border-style: solid;
            border-color: black;
            border-width: 0 0 1px 1px;
        }
    }

    thead th {
        font-size: 17px;
        font-weight: bold !important;
    }

    .good {
        background-color: #85994B;
        font-weight: bold;
    }

    .strong {
        background-color: #85994B;
        font-weight: bold;
    }

    .excellent {
        background-color: #006435;
        font-weight: bold;
        color: white;
    }

    .star {
        background-color: #006435;
        font-weight: bold;
        color: white;
    }

    .expert {
        background-color: #006435;
        font-weight: bold;
        color: white;
    }

    .highpotential {
        background-color: #28A197;
        font-weight: bold;
    }

    .earlypromise {
        background-color: #28A197;
        font-weight: bold;
    }

    .inconsistent {
        background-color: #F47738;
        font-weight: bold;
    }

    .effective {
        background-color: #F47738;
        font-weight: bold;
    }


    .urgent {
        background-color: #B10E1E;
        font-weight: bold;
        color: white;
    }

    .export-link {
        float: right;
        margin-top: -40px;
    }

    .team {
        font-size: 18px;
        vertical-align: middle;
    }

    .pull-up {
        margin-top: -45px;
    }

    .notice {
        position: relative;
        margin-top: 40px;
        padding: 20px;
        border: solid thin lightgray;
    }

    .notice .icon {
        position: absolute;
        left: 24px;
        top: 50%;
        margin-top: -17px;
    }

    .notice strong {
        display: block;
        padding-left: 65px;
        margin-left: -15px;
    }

    .panel {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        clear: both;
        border-left-style: solid;
        border-color: #bfc1c3;
        padding: 0.7894736842em;
        margin-bottom: 0.7894736842em;
    }

    .form-label .form-hint,
    .form-label-bold .form-hint {
        margin-top: 0;
        padding-bottom: 0;
    }

    .form-control {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "nta", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 400;
        text-transform: none;
        width: 100%;
        padding: 4px;
        background-color: #fff;
        border: 2px solid #6f777b;
    }

    .panel :first-child {
        margin-top: 0;
    }

    .panel :only-child,
    .panel :last-child {
        margin-bottom: 0;
    }

    .panel-border-wide {
        border-left-width: 10px;
    }

    .panel-border-narrow {
        border-left-width: 5px;
    }

    .form-group .panel-border-narrow {
        float: left;
        width: 100%;
        padding-bottom: 0;
    }

    .form-group .panel-border-narrow:first-child {
        margin-top: 10px;
    }

    .form-group .panel-border-narrow:last-child {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .inline .form-group .panel-border-narrow {
        margin-top: 10px;
        margin-bottom: 0;
    }

    @include media(desktop, tablet) {
        .stats-icon {
            padding-left: 50px;
        }

        .stats-icon.pupils {
            background: url("/public/assets/images/icon-pupils.png") no-repeat 0 12px / 45px;
        }

        .stats-icon.ages {
            background: url("/public/assets/images/icon-ages.png") no-repeat 0 8px / 45px;
        }

        .stats-icon.gender-mixed {
            background: url("/public/assets/images/icon-gender-mixed.png") no-repeat 0 16px / 45px;
        }

        .stats-icon.denom {
            background: url("/public/assets/images/icon-denom.png") no-repeat 0 12px / 45px;
        }

        .employee-address {
            background: url("/public/assets/images/icon-location.png") no-repeat 0 0 / 32px;
            background-position-x: -4px;
            background-position-y: -4px;
        }

        .employee-address, .employee-local-authority, .employee-headteacher {
            padding-left: 30px;
        }
    }
}
