.simple-characteristics {
    @include highlighting;

    ul {
        list-style-type: inherit;
    }

    .location-char {
        display: block;
        clear: left;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .help-icon.help-chart {
        top: 0;
    }
}
