@section InsideHead{
    <link rel="stylesheet" href="~/node_modules/leaflet/dist/leaflet.css" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="~/node_modules/leaflet/dist/leaflet.js"></script>

    <style>
        #mapid {
            width: 500px;
            height: 400px;
            border-width: 1px;
            border-color: black;
            border-style: solid;
        }
    </style>
}

<h3>Ark Academy, Forty Avenue, Wembley, HA9 9JR</h3>
<div id="mapid"></div>

@section ViewScripts{
    <script>

        var schoolPosition = [51.5655598764621, -0.280167460441589];

        var mymap = L.map('mapid').setView(schoolPosition, 13);

        L.tileLayer('https://atlas.microsoft.com/map/tile/png?api-version=1&layer=basic&style=main&zoom={z}&x={x}&y={y}&subscription-key=@System.Web.Configuration.WebConfigurationManager.AppSettings["AzureMapsAPIKey"]', {
            attribution: '© ' + new Date().getFullYear() + ' Microsoft, © 1992 - ' + new Date().getFullYear() + ' TomTom',
            maxZoom: 18,
            minZoom: 4,
            id: 'azuremaps.road',
            crossOrigin: true,
            subscriptionKey: '@System.Web.Configuration.WebConfigurationManager.AppSettings["AzureMapsAPIKey"]'
        }).addTo(mymap);

        var marker = L.marker(schoolPosition).addTo(mymap);
        //marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

    </script>
}

