@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums
@model SFB.Web.UI.Models.SchoolViewModel
<div class="sticky-div sticky-chart-controls">
    <div id="controls" class="chart-filters-selections">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-controls">
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header mobile-only">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-controls-heading-1">
                            Filters
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-controls-heading-1">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-visually-hidden hide-in-print">Filters</legend>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                @Html.Partial("Partials/ValueSelect", Model)
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="charts-section">
    <div class="govuk-grid-row">
        <div>
            <div class=" govuk-grid-column-full govuk-!-font-size-16 chartTable hide-in-print">
                <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")" class="view-charts-tables charts a-button" onclick="DfE.Views.SchoolDetailsViewModel.toggleChartsTables('Charts')"><img class="icon icon-chart" src="~/public/assets/images/icons/graph.svg" alt="" /><span> View as charts</span></button>
                <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "block")" class="view-charts-tables tables a-button" onclick="DfE.Views.SchoolDetailsViewModel.toggleChartsTables('Tables')"><img class="icon icon-table" src="~/public/assets/images/icons/table.svg" alt="" /><span> View as tables<span class="govuk-visually-hidden"> - Recommended option for screen readers</span></span></button>
            </div>
        </div>
    </div>
    <div class="historical-charts-list">
        @Html.Partial("Partials/WorkforceChartWrapper", Model.WorkforceCharts)
    </div>
</div>